.\!relative {
    position: relative !important
}

.inset-\[0\] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.scroll {
    overflow: auto
}

.size-\[var\(--icon-size-large\)\] {
    width: var(--icon-size-large);
    height: var(--icon-size-large)
}

.size-\[var\(--icon-size-medium\)\] {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium)
}

.size-\[var\(--icon-size-small\)\] {
    width: var(--icon-size-small);
    height: var(--icon-size-small)
}

.size-\[var\(--icon-size-xlarge\)\] {
    width: var(--icon-size-xlarge);
    height: var(--icon-size-xlarge)
}

.size-\[var\(--icon-size-xsmall\)\] {
    width: var(--icon-size-xsmall);
    height: var(--icon-size-xsmall)
}

.size-\[var\(--icon-size-xxlarge\)\] {
    width: var(--icon-size-xxlarge);
    height: var(--icon-size-xxlarge)
}

.max-width-\[calc\(var\(--size-100\)\*50\)\] {
    max-width: calc(var(--size-100)*50)
}

.content-\[var\(--inverse-content-emphasis\)\] {
    color: var(--inverse-content-emphasis)
}

.content-\[var\(--inverse-surface-0\)\] {
    color: var(--inverse-surface-0)
}

.opacity-\[0\.5\] {
    opacity: .5
}

.icon-filled-circle-check {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M16 30C23.732 30 30 23.732 30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 23.732 8.26801 30 16 30ZM21.7071 12.2929C22.0976 12.6834 22.0976 13.3166 21.7071 13.7071L14.7071 20.7071C14.3166 21.0976 13.6834 21.0976 13.2929 20.7071L10.2929 17.7071C9.90237 17.3166 9.90237 16.6834 10.2929 16.2929C10.6834 15.9024 11.3166 15.9024 11.7071 16.2929L14 18.5858L20.2929 12.2929C20.6834 11.9024 21.3166 11.9024 21.7071 12.2929Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-circle-i {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M17 21H19.5V23H12.5V21H15V14H13V12H17V21Z' fill='black'/%3E %3Cpath d='M17 10H15V8H17V10Z' fill='black'/%3E %3Cpath d='M16 2C23.732 2 30 8.26801 30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16C2 8.26801 8.26801 2 16 2ZM16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-circle-i {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M16 2C23.732 2 30 8.26801 30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16C2 8.26801 8.26801 2 16 2ZM13 14H15V21H12.5V23H19.5V21H17V12H13V14ZM15 10H17V8H15V10Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-circle-x {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M16 30C23.732 30 30 23.732 30 16C30 8.26801 23.732 2 16 2C8.26801 2 2 8.26801 2 16C2 23.732 8.26801 30 16 30ZM12.7071 11.2929L16 14.5858L19.2929 11.2929C19.6834 10.9024 20.3166 10.9024 20.7071 11.2929C21.0976 11.6834 21.0976 12.3166 20.7071 12.7071L17.4142 16L20.7071 19.2929C21.0976 19.6834 21.0976 20.3166 20.7071 20.7071C20.3166 21.0976 19.6834 21.0976 19.2929 20.7071L16 17.4142L12.7071 20.7071C12.3166 21.0976 11.6834 21.0976 11.2929 20.7071C10.9024 20.3166 10.9024 19.6834 11.2929 19.2929L14.5858 16L11.2929 12.7071C10.9024 12.3166 10.9024 11.6834 11.2929 11.2929C11.6834 10.9024 12.3166 10.9024 12.7071 11.2929Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-envelope {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M2.00014 8.98229C1.99995 8.99347 1.99995 9.00465 2.00014 9.01581V25.4914C2.00014 26.3844 2.59495 27.15 3.47716 27.2882C5.36346 27.5836 9.22426 28 16.0001 28C22.776 28 26.6368 27.5836 28.5231 27.2882C29.4053 27.15 30.0001 26.3844 30.0001 25.4914V9.01581C30.0003 9.00465 30.0003 8.99347 30.0001 8.98229V6C30.0001 4.89543 29.1047 4 28.0001 4H4.00014C2.89557 4 2.00014 4.89543 2.00014 6V8.98229ZM4.00014 6H28.0001V8.4412L16.0001 15.8258L4.00014 8.4412V6ZM28.0001 10.7896V25.3448C26.157 25.6194 22.4384 26 16.0001 26C9.56185 26 5.84331 25.6194 4.00014 25.3448V10.7896L15.476 17.8517C15.7975 18.0494 16.2028 18.0494 16.5242 17.8517L28.0001 10.7896Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-hashtag {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M13.9884 3.1522C14.0724 2.60634 13.6979 2.09575 13.1521 2.01177C12.6062 1.92779 12.0956 2.30222 12.0116 2.84808L10.9113 10.0001H4C3.44772 10.0001 3 10.4479 3 11.0001C3 11.5524 3.44772 12.0001 4 12.0001H10.6036L9.37285 20.0001H3C2.44772 20.0001 2 20.4479 2 21.0001C2 21.5524 2.44772 22.0001 3 22.0001H9.06516L8.01163 28.8481C7.92765 29.3939 8.30208 29.9045 8.84794 29.9885C9.39381 30.0725 9.90439 29.6981 9.98837 29.1522L11.0887 22.0001H19.0652L18.0116 28.8481C17.9276 29.3939 18.3021 29.9045 18.8479 29.9885C19.3938 30.0725 19.9044 29.6981 19.9884 29.1522L21.0887 22.0001H28C28.5523 22.0001 29 21.5524 29 21.0001C29 20.4479 28.5523 20.0001 28 20.0001H21.3964L22.6271 12.0001H29C29.5523 12.0001 30 11.5524 30 11.0001C30 10.4479 29.5523 10.0001 29 10.0001H22.9348L23.9884 3.1522C24.0723 2.60634 23.6979 2.09575 23.1521 2.01177C22.6062 1.92779 22.0956 2.30222 22.0116 2.84808L20.9113 10.0001H12.9348L13.9884 3.1522ZM19.3729 20.0001H11.3964L12.6271 12.0001H20.6036L19.3729 20.0001Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-key {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M21 13C22.1046 13 23 12.1046 23 11C23 9.89542 22.1046 8.99999 21 8.99999C19.8954 8.99999 19 9.89542 19 11C19 12.1046 19.8954 13 21 13Z' fill='black'/%3E %3Cpath d='M19.9712 2.31057C19.2119 1.98048 18.3861 2.19967 17.8559 2.7299L12.5858 7.99999C12.2107 8.37507 12 8.88377 12 9.41421V13.5858L3.58579 22C3.21071 22.3751 3 22.8838 3 23.4142V27C3 28.1046 3.89543 29 5 29H8.58579C9.11622 29 9.62493 28.7893 10 28.4142L12.3276 26.0866L12.5259 24.4009L14.6509 24.1509L14.9009 22.0259L16.5866 21.8276L18.4142 20H22.5858C23.1162 20 23.6249 19.7893 24 19.4142L29.2701 14.1441C29.8003 13.6139 30.0195 12.7881 29.6894 12.0288C29.2153 10.9383 28.028 8.61377 25.7071 6.29289C23.3862 3.972 21.0617 2.78468 19.9712 2.31057ZM14 9.41421L19.2403 4.17391C20.2041 4.60028 22.2467 5.66094 24.2929 7.7071C26.3391 9.75326 27.3997 11.7959 27.8261 12.7597L22.5858 18H17.5858L15.6634 19.9224L13.0991 20.2241L12.8491 22.3491L10.7241 22.5991L10.4224 25.1634L8.58579 27H5L5 23.4142L14 14.4142V9.41421Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-phone {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M5.99349 16.7148C7.95504 20.7602 11.2397 24.0449 15.2852 26.0065L20.3438 20.9478C21.2909 20.0007 22.7512 19.7962 23.922 20.4467L27.3741 22.3645C29.0186 23.2781 29.4262 25.4623 28.2219 26.9075L26.5444 28.9205C25.9744 29.6045 25.1301 29.9999 24.2397 29.9999H24C11.8497 29.9999 2 20.1502 2 7.99994V7.76022C2 6.86988 2.39547 6.02554 3.07945 5.45556L5.09243 3.77807C6.53762 2.57375 8.72186 2.98134 9.63545 4.62581L11.5533 8.0779C12.2038 9.24878 11.9993 10.709 11.0521 11.6561L5.99349 16.7148ZM7.88714 5.5971C7.58261 5.04894 6.85453 4.91308 6.3728 5.31452L4.35982 6.992C4.13182 7.182 4 7.46344 4 7.76022V7.99994C4 10.3583 4.40818 12.6212 5.15775 14.7221L9.63792 10.2419C9.95362 9.92622 10.0218 9.43948 9.80496 9.04918L7.88714 5.5971ZM17.2778 26.8422C19.3787 27.5918 21.6417 27.9999 24 27.9999H24.2397C24.5365 27.9999 24.8179 27.8681 25.0079 27.6401L26.6854 25.6271C27.0869 25.1454 26.951 24.4173 26.4028 24.1128L22.9508 22.195C22.5605 21.9782 22.0737 22.0463 21.758 22.362L17.2778 26.8422Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-shield-check {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M21.7065 11.2929C22.097 11.6834 22.097 12.3166 21.7065 12.7071L14.7065 19.7071C14.3159 20.0977 13.6828 20.0977 13.2922 19.7071L10.2922 16.7071C9.90172 16.3166 9.90172 15.6834 10.2922 15.2929C10.6828 14.9024 11.3159 14.9024 11.7065 15.2929L13.9994 17.5858L20.2922 11.2929C20.6828 10.9024 21.3159 10.9024 21.7065 11.2929Z' fill='black'/%3E %3Cpath d='M15.2276 29.6697C4.43337 24.9244 4.01613 19.1787 4 7.4448C3.99882 6.58395 4.5502 5.81641 5.36687 5.54417L15.3663 2.21086C15.7768 2.07401 16.2206 2.074 16.6312 2.21084L26.6318 5.5442C27.4485 5.81642 27.9999 6.58397 27.9987 7.44484C27.9826 19.1787 27.5653 24.9244 16.7716 29.6697C16.2834 29.8843 15.7159 29.8843 15.2276 29.6697ZM7.4184 20.4093C8.60623 23.2624 10.9061 25.5796 15.9996 27.8243C21.0928 25.5796 23.3926 23.2625 24.5804 20.4093C25.8541 17.3498 25.9905 13.4078 25.9987 7.44209L15.9988 4.10822L5.99936 7.44152C6.00756 13.4073 6.14466 17.3498 7.4184 20.4093Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-shield-lock {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M15.999 16C16.5512 16 16.9989 16.4479 16.999 17V18C16.999 18.5523 16.5513 19 15.999 19C15.4469 18.9999 14.999 18.5522 14.999 18V17C14.9991 16.448 15.447 16.0002 15.999 16Z' fill='black'/%3E %3Cpath d='M15.999 8.00004C18.2081 8.00004 19.9989 9.791 19.999 12V13C21.1035 13 21.9989 13.8956 21.999 15V19.6465C21.9989 20.4641 21.4991 21.1964 20.708 21.4024C19.6396 21.6803 17.9789 22 15.999 22C14.0193 22 12.3593 21.6803 11.291 21.4024C10.4997 21.1965 9.99916 20.4642 9.99903 19.6465V15C9.99914 13.8957 10.8947 13.0002 11.999 13V12C11.9991 9.79111 13.7901 8.00022 15.999 8.00004ZM11.999 19.5186C12.9495 19.7518 14.3518 20 15.999 20C17.6462 20 19.0485 19.7518 19.999 19.5186V15H11.999V19.5186ZM15.999 10C14.8947 10.0002 13.9991 10.8957 13.999 12V13H17.999V12C17.9989 10.8956 17.1035 10 15.999 10Z' fill='black'/%3E %3Cpath d='M15.3662 2.21098C15.7766 2.07416 16.2204 2.07425 16.6309 2.21098L26.6318 5.54399C27.4485 5.81621 28.0002 6.58448 27.999 7.44535C27.9829 19.179 27.5651 24.9247 16.7715 29.67C16.2833 29.8845 15.7157 29.8846 15.2275 29.67C4.43345 24.9247 4.01614 19.179 4 7.44535C3.99882 6.58451 4.55052 5.81622 5.36719 5.54399L15.3662 2.21098ZM5.99903 7.44145C6.00722 13.407 6.14439 17.3498 7.41797 20.4092C8.6058 23.2624 10.9065 25.5795 16 27.8243C21.0929 25.5796 23.3923 23.2623 24.5801 20.4092C25.8537 17.3498 25.9908 13.408 25.999 7.44242L15.999 4.10844L5.99903 7.44145Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-triangle-exclamation {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M17.8468 4.03623C17.0194 2.65459 14.9821 2.65459 14.1547 4.03623L2.29738 23.8362C1.42599 25.2913 2.55342 27 4.14342 27H27.8581C29.4481 27 30.5755 25.2913 29.7041 23.8362L17.8468 4.03623ZM17.501 21.5C17.501 22.3284 16.8294 23 16.001 23C15.1725 23 14.501 22.3284 14.501 21.5C14.501 20.6716 15.1725 20 16.001 20C16.8294 20 17.501 20.6716 17.501 21.5ZM17.001 12V17C17.001 17.5523 16.5533 18 16.001 18C15.4487 18 15.001 17.5523 15.001 17V12C15.001 11.4477 15.4487 11 16.001 11C16.5533 11 17.001 11.4477 17.001 12Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-x {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M7.29289 8.70711C6.90237 8.31658 6.90237 7.68342 7.29289 7.29289C7.68342 6.90237 8.31658 6.90237 8.70711 7.29289L16 14.5858L23.2929 7.29289C23.6834 6.90237 24.3166 6.90237 24.7071 7.29289C25.0976 7.68342 25.0976 8.31658 24.7071 8.70711L17.4142 16L24.7071 23.2929C25.0976 23.6834 25.0976 24.3166 24.7071 24.7071C24.3166 25.0976 23.6834 25.0976 23.2929 24.7071L16 17.4142L8.70711 24.7071C8.31658 25.0976 7.68342 25.0976 7.29289 24.7071C6.90237 24.3166 6.90237 23.6834 7.29289 23.2929L14.5858 16L7.29289 8.70711Z' fill='black'/%3E%3C/svg%3E")
}

@font-face {
    font-family: text-security-disc;
    src: url(https://css.rbxcdn.com/5dd0242f1370b7ed.woff)format("woff"), url(https://css.rbxcdn.com/5dd0242f1370b7ed.woff2)format("woff2")
}

.input-field-concealed {
    font-family: text-security-disc !important
}

.input-field.recovery-input {
    height: 48px
}

.input-field.recovery-input .input-row {
    background-color: transparent;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.input-field.recovery-input .input-row .phone-prefix-section {
    opacity: 0;
    -ms-flex-align: center;
    align-items: center;
    max-width: 0;
    height: 100%;
    transition: max-width .2s ease-out, opacity .2s;
    display: -ms-flexbox;
    display: flex
}

.input-field.recovery-input .input-row .phone-prefix-section .phone-prefix-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    -ms-flex-align: center;
    align-items: center;
    width: fit-content;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.input-field.recovery-input .input-row .phone-prefix-section .phone-prefix-wrapper .select-preview {
    text-align: right;
    pointer-events: none;
    opacity: 1;
    white-space: nowrap;
    padding-right: 12px;
    display: inline-block
}

.input-field.recovery-input .input-row .phone-prefix-section .phone-prefix-wrapper .phone-prefix-dropdown {
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    border: 0;
    width: 100%;
    height: 100%;
    font-size: 16px;
    position: absolute;
    left: 0
}

.input-field.recovery-input .input-row .phone-prefix-section .phone-divider {
    border-left: 1px solid #707070;
    width: 0;
    height: 80%;
    padding-right: 12px
}

.input-field.recovery-input .input-row .phone-prefix-section.visible {
    opacity: 1;
    max-width: 100px
}

.input-field.recovery-input .input-row .identifier-input {
    background: 0 0;
    border: none;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    transition: width .2s;
    position: relative;
    overflow: scroll
}

.input-field.recovery-input .input-row .identifier-input::-webkit-input-placeholder {
    font: var(--typography-body-large-font)
}

.input-field.recovery-input .input-row .identifier-input::placeholder {
    font: var(--typography-body-large-font)
}

.input-field.recovery-input .input-row .identifier-input::placeholder {
    font: var(--typography-body-large-font)
}

.form-control-label.error-text {
    line-height: 1em
}

.passkey-upsell-modal {
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    padding: 24px !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.passkey-upsell-modal .modal-dialog {
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    overflow: auto;
    margin: 90px auto 0 !important
}

.passkey-upsell-modal .modal-dialog .modal-content {
    border-radius: 8px
}

.passkey-upsell-modal .modal-dialog .modal-content .modal-body {
    text-align: left;
    margin: 0;
    padding: 12px 24px 24px
}

.passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-image {
    background-image: url(https://images.rbxcdn.com/0dc34ef6ac044131.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
    margin: 0 auto 12px;
    display: block
}

.passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-title {
    margin-bottom: 12px
}

.light-theme .passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-title,
.dark-theme .passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-title {
    color: var(--color-content-emphasis)
}

.passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-description {
    margin-bottom: 24px
}

.light-theme .passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-description,
.dark-theme .passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-description {
    color: var(--color-content-default)
}

.passkey-upsell-modal .modal-dialog .modal-content .modal-body .passkey-upsell-buttons {
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    display: -ms-flexbox;
    display: flex
}

@media (min-width:543px) {
    .passkey-upsell-modal .modal-dialog {
        width: 415.2px;
        max-width: 415.2px
    }
}

.modern-card-container {
    border-color: transparent;
    border-radius: 8px;
    -ms-flex-direction: column;
    flex-direction: column;
    width: calc(100% - 24px);
    max-width: calc(100% - 24px);
    max-height: 100%;
    display: -ms-flexbox;
    display: flex;
    padding: 12px !important
}

.modern-card-container .card-header {
    border-bottom-color: rgba(39, 41, 48, .2);
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
    display: -ms-flexbox;
    display: flex;
    padding: 0 5px !important
}

.modern-card-container .card-header .card-title,
.modern-card-container .card-header .card-title * {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden
}

.modern-card-container .card-body {
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    margin: 0;
    padding: 0 18px;
    line-height: 1;
    display: -ms-flexbox;
    display: flex
}

.modern-card-container .card-body>.spinner {
    display: block
}

.modern-card-container .card-body p {
    text-align: center;
    max-width: 543px;
    margin: auto
}

.modern-card-container .card-body p.text-align-x-left {
    text-align: left;
    width: 100%;
    max-width: none;
    margin-left: 0;
    margin-right: 0
}

.modern-card-container .card-body p.form-control-label {
    text-align: left
}

.modern-card-container .card-body .card-margin-bottom {
    margin-bottom: 12px
}

.modern-card-container .card-body .card-text-danger {
    color: #e75750
}

.modern-card-container .card-footer {
    margin: 16px 0 0;
    padding: 0 18px 18px
}

.modern-card-container .card-footer p {
    text-align: center;
    max-width: 543px;
    margin: auto
}

.modern-card-container .card-footer .card-margin-bottom {
    margin-bottom: 12px
}

.modern-card-container .card-footer .modern-card-footer-buttons {
    width: 100%;
    display: -ms-flexbox;
    display: flex
}

.modern-card-container .card-footer .modern-card-footer-buttons :not(:last-child) {
    margin-right: 6px
}

.modern-card-container .card-footer .modern-card-footer-buttons .modern-card-footer-button {
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-flex: 1;
    flex: 1;
    height: 48px;
    overflow: hidden
}

.modern-card-container .card-footer .modern-card-footer-buttons:not(:last-child) {
    margin-bottom: 18px
}

.modern-card-container .modal-footer {
    border-top: none
}

.light-theme .modern-card-container,
.dark-theme .modern-card-container {
    background-color: var(--color-shift-200)
}

.dark-theme .modern-card-container .card-header {
    border-bottom-color: rgba(255, 255, 255, .2)
}

@media (max-width:543px) {
    .modern-card-container .card-header .card-title {
        font-size: 3.5vw
    }
}

@media (min-width:543px) {
    .modern-card-container {
        width: 519px;
        max-width: 519px
    }
}

.btn {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    display: inline-block
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active,
.btn-default.active,
.open>.btn-default.dropdown-toggle {
    background-image: none
}

.btn-default.disabled,
.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled:active,
.btn-default.disabled.active,
.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled]:active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:active,
fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e
}

.btn-primary:active,
.btn-primary.active,
.open>.btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #428bca;
    border-color: #357ebd
}

.btn-primary .badge {
    color: #428bca;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active,
.btn-success.active,
.open>.btn-success.dropdown-toggle {
    background-image: none
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active,
.btn-info.active,
.open>.btn-info.dropdown-toggle {
    background-image: none
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active,
.btn-warning.active,
.open>.btn-warning.dropdown-toggle {
    background-image: none
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active,
.btn-danger.active,
.open>.btn-danger.dropdown-toggle {
    background-image: none
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    color: #428bca;
    cursor: pointer;
    border-radius: 0;
    font-weight: 400
}

.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent
}

.btn-link:hover,
.btn-link:focus {
    color: #2a6496;
    background-color: transparent;
    text-decoration: underline
}

.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-lg {
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33
}

.btn-sm {
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.btn-xs {
    border-radius: 3px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5
}

.btn-block {
    width: 100%;
    display: block
}

.btn-block+.btn-block {
    margin-top: 5px
}

input[type=submit].btn-block {
    width: 100%
}

input[type=reset].btn-block {
    width: 100%
}

input[type=button].btn-block {
    width: 100%
}

.modern-card-cta-row {
    border-radius: 8px;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    gap: 12px;
    padding: 6px 18px 0;
    display: -ms-flexbox;
    display: flex
}

.modern-card-cta-row .modern-card-cta-row-text-content {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: auto;
    display: -ms-flexbox;
    display: flex
}

.light-theme .modern-card-cta-row .modern-card-cta-row-title,
.dark-theme .modern-card-cta-row .modern-card-cta-row-title {
    color: var(--color-content-emphasis)
}

.light-theme .modern-card-cta-row .modern-card-cta-row-subtitle,
.dark-theme .modern-card-cta-row .modern-card-cta-row-subtitle {
    color: var(--color-content-default)
}

.modern-card-cta-row .modern-card-cta-row-subtitle {
    margin: 0
}

#account-recovery .account-recovery-page {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
    min-height: 600px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex
}

#account-recovery p {
    line-height: 1.4em
}

.modal-modern-footer-button.update-email-button {
    height: 40px
}

.modal-modern.account-recovery .modal-dialog .modal-content .modal-header.invalidate-credentials-header {
    margin-bottom: 12px;
    padding: 18px 18px 12px !important
}

.modal-modern.account-recovery .modal-dialog .modal-content .modal-header.invalidate-credentials-header .invalidate-credentials-heading {
    -ms-flex-direction: column;
    flex-direction: column;
    grid-column: 1/-1;
    justify-self: stretch;
    gap: 4px;
    display: -ms-flexbox;
    display: flex
}

.recovery-confirmation-body {
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
    padding: 18px 0 0;
    display: -ms-flexbox;
    display: flex
}

@media (min-width:543px) {
    .modal-modern.account-recovery .modal-dialog {
        width: 423px;
        max-width: 423px
    }
}

.placeholder\:text-body-large::-webkit-input-placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-large::-ms-input-placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-large::placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-medium::-webkit-input-placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-medium::-ms-input-placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-medium::placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-small::-webkit-input-placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:text-body-small::-ms-input-placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:text-body-small::placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:content-muted::-webkit-input-placeholder {
    color: var(--color-content-muted)
}

.placeholder\:content-muted::-ms-input-placeholder {
    color: var(--color-content-muted)
}

.placeholder\:content-muted::placeholder {
    color: var(--color-content-muted)
}

.focus-within\:stroke-system-alert:focus-within {
    border-color: var(--color-system-alert)
}

.focus-within\:stroke-system-emphasis:focus-within {
    border-color: var(--color-system-emphasis)
}

.focus-visible\:outline-focus:focus-visible {
    outline: var(--stroke-thicker)solid var(--color-selection-start);
    outline-offset: var(--stroke-thicker)
}

.disabled\:outline-none:disabled {
    outline: var(--stroke-none)solid var(--color-none)
}

.group\/interactable:hover .group-hover\/interactable\:bg-\[var\(--color-state-hover\)\] {
    background-color: var(--color-state-hover)
}

.group\/interactable:active .group-active\/interactable\:bg-\[var\(--color-state-press\)\] {
    background-color: var(--color-state-press)
}

.group\/interactable:disabled .group-disabled\/interactable\:bg-none {
    background-color: var(--color-none)
}

.data-\[state\=checked\]\:stroke-none[data-state=checked],
.data-\[state\=indeterminate\]\:stroke-none[data-state=indeterminate] {
    border-style: solid;
    border-width: var(--stroke-none);
    box-sizing: border-box
}

.data-\[state\=unchecked\]\:stroke-standard[data-state=unchecked] {
    border-style: solid;
    border-width: var(--stroke-standard);
    box-sizing: border-box
}

.data-\[state\=checked\]\:bg-system-contrast[data-state=checked],
.data-\[state\=indeterminate\]\:bg-system-contrast[data-state=indeterminate] {
    background-color: var(--color-system-contrast)
}

.data-\[state\=unchecked\]\:bg-none[data-state=unchecked] {
    background-color: var(--color-none)
}

.data-\[state\=checked\]\:icon-filled-check[data-state=checked] {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M24.0607 9.93934C23.4749 9.35355 22.5251 9.35355 21.9393 9.93934L13 18.8787L10.0607 15.9393C9.47487 15.3536 8.52513 15.3536 7.93934 15.9393C7.35355 16.5251 7.35355 17.4749 7.93934 18.0607L11.9393 22.0607C12.5251 22.6464 13.4749 22.6464 14.0607 22.0607L24.0607 12.0607C24.6464 11.4749 24.6464 10.5251 24.0607 9.93934Z' fill='black'/%3E%3C/svg%3E")
}

.data-\[state\=indeterminate\]\:icon-filled-minus[data-state=indeterminate] {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M23.5 14.5C24.3284 14.5 25 15.1716 25 16C25 16.8284 24.3284 17.5 23.5 17.5C13.0512 17.5 19.8215 17.5 8.5 17.5C7.67157 17.5 7 16.8284 7 16C7 15.1716 7.67157 14.5 8.5 14.5C19.1461 14.5 11.9213 14.5 23.5 14.5Z' fill='black'/%3E%3C/svg%3E")
}

.\[\&_input\]\:bg-action-utility input {
    background-color: var(--color-action-utility-background)
}

.\[\&_label\]\:text-body-small label {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}