.cross-device-login-display-code-modal-title-container {
    height: 28px;
    position: relative
}

.cross-device-login-display-code-modal-title-button {
    z-index: 1;
    background: 0 0;
    border: none;
    outline: none;
    position: absolute
}

.cross-device-login-display-code-modal-image {
    background-image: url(https://images.rbxcdn.com/a3f93b5017745e3f.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto 142px;
    height: 142px;
    margin: 12px 0
}

.cross-device-login-display-qr-code-image {
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 4px;
    height: 128px;
    margin: 12px 0;
    padding: 4px
}

.cross-device-login-ph-avatar-image {
    background-image: url(https://images.rbxcdn.com/337e6eb64b8cb7a1.png)
}

#contained-modal-title-vcenter {
    text-align: center;
    width: 100%;
    position: absolute;
    top: -4px
}

.cross-device-login-display-code-modal {
    min-width: 319px
}

@media (max-width:319px) {
    .cross-device-login-display-code-modal {
        padding: 0
    }
}

.cross-device-login-display-code-modal .modal-dialog {
    overflow: auto
}

.cross-device-login-display-code-modal .modal-dialog .modal-content {
    border-radius: 8px
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-header {
    height: 48px
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body {
    text-align: center;
    margin: 0 12px
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-device-prompt-text {
    margin: 12px 0
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-instruction-text {
    margin: 0 0 12px
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-qr-header-text {
    margin: 24px 0 0
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-device-specific-instruction-text {
    text-align: justify;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 12px auto
}

.cross-device-login-display-code-modal .modal-dialog .modal-content .modal-body .cross-device-login-avatar-thumbnail {
    vertical-align: text-top;
    border-radius: 50%;
    width: 160px;
    height: 160px
}