.inset-\[0\] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.gap-\[var\(--size-150\)\] {
    gap: var(--size-150)
}

.scroll {
    overflow: auto
}

.size-\[var\(--icon-size-large\)\] {
    width: var(--icon-size-large);
    height: var(--icon-size-large)
}

.size-\[var\(--icon-size-medium\)\] {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium)
}

.size-\[var\(--icon-size-small\)\] {
    width: var(--icon-size-small);
    height: var(--icon-size-small)
}

.size-\[var\(--icon-size-xlarge\)\] {
    width: var(--icon-size-xlarge);
    height: var(--icon-size-xlarge)
}

.size-\[var\(--icon-size-xsmall\)\] {
    width: var(--icon-size-xsmall);
    height: var(--icon-size-xsmall)
}

.size-\[var\(--icon-size-xxlarge\)\] {
    width: var(--icon-size-xxlarge);
    height: var(--icon-size-xxlarge)
}

.max-width-\[970px\] {
    max-width: 970px
}

.max-width-\[calc\(var\(--size-100\)\*50\)\] {
    max-width: calc(var(--size-100)*50)
}

.min-width-\[104px\] {
    min-width: 104px
}

.width-\[120px\] {
    width: 120px
}

.width-\[fit-content\] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.content-\[var\(--dark-mode-content-emphasis\)\] {
    color: var(--dark-mode-content-emphasis)
}

.content-\[var\(--inverse-surface-0\)\] {
    color: var(--inverse-surface-0)
}

.bg-\[rgb\(from_var\(--color-system-alert\)_r_g_b_\/_0\.2\)\] {
    background-color: rgb(from var(--color-system-alert)r g b/.2)
}

.bg-\[rgb\(from_var\(--color-system-success\)_r_g_b_\/_0\.2\)\] {
    background-color: rgb(from var(--color-system-success)r g b/.2)
}

.bg-\[rgb\(from_var\(--color-system-warning\)_r_g_b_\/_0\.2\)\] {
    background-color: rgb(from var(--color-system-warning)r g b/.2)
}

.opacity-\[0\.5\] {
    opacity: .5
}

.icon-regular-arrow-up-from-landscape-rectangle {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M27 14C27.5523 14 28 14.4477 28 15V27C28 28.1046 27.1046 29 26 29H6C4.89543 29 4 28.1046 4 27V15C4 14.4477 4.44772 14 5 14C5.55228 14 6 14.4477 6 15V27H26V15C26 14.4477 26.4477 14 27 14ZM16 2C16.2652 2 16.5195 2.10543 16.707 2.29297L20.707 6.29297C21.0976 6.68349 21.0976 7.31651 20.707 7.70703C20.3165 8.09756 19.6835 8.09756 19.293 7.70703L17 5.41406V20C17 20.5523 16.5523 21 16 21C15.4477 21 15 20.5523 15 20V5.41406L12.707 7.70703C12.3165 8.09756 11.6835 8.09756 11.293 7.70703C10.9024 7.31651 10.9024 6.68349 11.293 6.29297L15.293 2.29297C15.4805 2.10543 15.7348 2 16 2Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-arrow-wide-short-left {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M14.4393 8.93934C15.0251 8.35355 15.9746 8.35355 16.5604 8.93934C17.1461 9.52514 17.1462 10.4747 16.5604 11.0604L13.121 14.4999H22.4999L22.6532 14.5077C23.4095 14.5846 23.9999 15.2233 23.9999 15.9999C23.9998 16.8282 23.3282 17.4998 22.4999 17.4999H13.121L16.5604 20.9393C17.1461 21.5251 17.1462 22.4747 16.5604 23.0604C15.9747 23.6462 15.0251 23.6461 14.4393 23.0604L8.43934 17.0604C7.85355 16.4746 7.85355 15.5251 8.43934 14.9393L14.4393 8.93934Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-chevron-large-left {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M8.83591 16.9463C8.35579 16.3571 8.3904 15.4885 8.93942 14.9394L18.9394 4.93942L19.0537 4.83591C19.6428 4.35579 20.5115 4.3904 21.0605 4.93942C21.6095 5.48845 21.6441 6.35711 21.164 6.94626L21.0605 7.06052L12.1211 16L21.0605 24.9394C21.6463 25.5252 21.6463 26.4747 21.0605 27.0605C20.4747 27.6463 19.5252 27.6463 18.9394 27.0605L8.93942 17.0605L8.83591 16.9463Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-chevron-large-right {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M22.7071 16.7071C23.0976 16.3166 23.0976 15.6834 22.7071 15.2929L12.7071 5.29289C12.3166 4.90237 11.6834 4.90237 11.2929 5.29289C10.9024 5.68342 10.9024 6.31658 11.2929 6.70711L20.5858 16L11.2929 25.2929C10.9024 25.6834 10.9024 26.3166 11.2929 26.7071C11.6834 27.0976 12.3166 27.0976 12.7071 26.7071L22.7071 16.7071Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-circle-i {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M17 21H19.5V23H12.5V21H15V14H13V12H17V21Z' fill='black'/%3E %3Cpath d='M17 10H15V8H17V10Z' fill='black'/%3E %3Cpath d='M16 2C23.732 2 30 8.26801 30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16C2 8.26801 8.26801 2 16 2ZM16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-circle-slash {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M6.45162 5.41826C6.20157 5.63534 5.9574 5.86275 5.71965 6.1005C5.48189 6.33826 5.25448 6.58243 5.0374 6.83248C0.262645 12.3324 0.490058 20.6699 5.71965 25.8995C10.9492 31.1291 19.2868 31.3565 24.7867 26.5817C25.0367 26.3647 25.2809 26.1372 25.5186 25.8995C25.7564 25.6617 25.9838 25.4176 26.2009 25.1675C30.9756 19.6676 30.7482 11.3301 25.5186 6.1005C20.289 0.870918 11.9515 0.643504 6.45162 5.41826ZM24.7825 23.7491L7.87001 6.83666C12.5848 2.84053 19.6562 3.06655 24.1044 7.51472C28.5526 11.9629 28.7786 19.0344 24.7825 23.7491ZM6.4558 8.25087L23.3683 25.1633C18.6535 29.1595 11.582 28.9335 7.13386 24.4853C2.68569 20.0371 2.45967 12.9656 6.4558 8.25087Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-circle-x {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16ZM30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16C2 8.26801 8.26801 2 16 2C23.732 2 30 8.26801 30 16ZM12.7071 11.2929C12.3166 10.9024 11.6834 10.9024 11.2929 11.2929C10.9024 11.6834 10.9024 12.3166 11.2929 12.7071L14.5858 16L11.2929 19.2929C10.9024 19.6834 10.9024 20.3166 11.2929 20.7071C11.6834 21.0976 12.3166 21.0976 12.7071 20.7071L16 17.4142L19.2929 20.7071C19.6834 21.0976 20.3166 21.0976 20.7071 20.7071C21.0976 20.3166 21.0976 19.6834 20.7071 19.2929L17.4142 16L20.7071 12.7071C21.0976 12.3166 21.0976 11.6834 20.7071 11.2929C20.3166 10.9024 19.6834 10.9024 19.2929 11.2929L16 14.5858L12.7071 11.2929Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-controller {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M20.9998 15C21.69 15.0002 22.2498 15.5598 22.2498 16.25C22.2498 16.9402 21.69 17.4998 20.9998 17.5C20.3094 17.5 19.7498 16.9404 19.7498 16.25C19.7498 15.5596 20.3094 15 20.9998 15Z' fill='black'/%3E %3Cpath d='M10.4998 11C10.7757 11.0002 10.9998 11.224 10.9998 11.5V13L12.6004 13.0098C12.8282 13.0564 12.9998 13.2584 12.9998 13.5V14.5C12.9998 14.776 12.7757 14.9998 12.4998 15H10.9998V16.5C10.9998 16.776 10.7757 16.9998 10.4998 17H9.49979C9.22365 17 8.99979 16.7761 8.99979 16.5V15H7.49979C7.22365 15 6.99979 14.7761 6.99979 14.5V13.5C6.99979 13.2239 7.22365 13 7.49979 13H8.99979V11.5C8.99979 11.2239 9.22365 11 9.49979 11H10.4998Z' fill='black'/%3E %3Cpath d='M18.4998 12.5C19.19 12.5002 19.7498 13.0598 19.7498 13.75C19.7498 14.4402 19.19 14.9998 18.4998 15C17.8094 15 17.2498 14.4404 17.2498 13.75C17.2498 13.0596 17.8094 12.5 18.4998 12.5Z' fill='black'/%3E %3Cpath d='M23.4998 12.5C24.19 12.5002 24.7498 13.0598 24.7498 13.75C24.7498 14.4402 24.19 14.9998 23.4998 15C22.8094 15 22.2498 14.4404 22.2498 13.75C22.2498 13.0596 22.8094 12.5 23.4998 12.5Z' fill='black'/%3E %3Cpath d='M20.9998 10C21.69 10.0002 22.2498 10.5598 22.2498 11.25C22.2498 11.9402 21.69 12.4998 20.9998 12.5C20.3094 12.5 19.7498 11.9404 19.7498 11.25C19.7498 10.5596 20.3094 10 20.9998 10Z' fill='black'/%3E %3Cpath d='M21.1346 4C24.5137 4.0002 27.4112 6.41447 28.0203 9.73828L30.1492 21.3564C30.3567 22.4888 30.2163 23.6583 29.7459 24.709C27.9291 28.7659 22.3704 29.2682 19.8562 25.6025L17.3953 22.0137H14.6599L12.6385 25.252C10.2454 29.085 4.58473 28.8399 2.53202 24.8145C1.97591 23.7237 1.77906 22.485 1.96854 21.2754L3.74784 9.91602C4.28169 6.51015 7.21639 4.00003 10.6639 4H21.1346ZM10.6639 6C8.20147 6.00003 6.10582 7.79295 5.7244 10.2256L3.94413 21.585C3.8199 22.3781 3.94964 23.19 4.31424 23.9053C5.66041 26.5453 9.37268 26.707 10.9422 24.1934L13.5515 20.0137H18.449L21.5057 24.4707C23.1364 26.8483 26.7423 26.523 27.9207 23.8916C28.2257 23.2102 28.3169 22.4521 28.1824 21.7178L26.0525 10.0986C25.6156 7.71473 23.5214 6.05189 21.1346 6H10.6639Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-flag {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M3.74028 2.03439C4.27357 1.89081 4.82229 2.20674 4.96586 2.74003L5.26959 3.86815L9.76813 2.46235C11.9142 1.79171 14.2499 2.15409 16.0918 3.44346C17.4087 4.36525 19.075 4.63354 20.6147 4.17165L25.7122 2.64239C27.3212 2.15968 28.7725 3.75559 28.1395 5.31164L26.1669 10.1609L29.6324 13.8864C30.6441 14.9739 30.1592 16.7458 28.7347 17.1666L22.2907 19.0706C20.0985 19.7183 17.7307 19.3319 15.858 18.0211C14.551 17.1062 12.9115 16.803 11.3637 17.1899L9.01435 17.7773L11.9659 28.74C12.1094 29.2733 11.7935 29.822 11.2602 29.9656C10.7269 30.1092 10.1782 29.7933 10.0346 29.26L3.03463 3.25998C2.89105 2.72668 3.20698 2.17797 3.74028 2.03439Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-hand-two-arrows-horizontal {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M22.2929 4.70711C21.9024 4.31658 21.9024 3.68342 22.2929 3.29289C22.6834 2.90237 23.3166 2.90237 23.7071 3.29289L26.7071 6.29289C27.0976 6.68342 27.0976 7.31658 26.7071 7.70711L23.7071 10.7071C23.3166 11.0976 22.6834 11.0976 22.2929 10.7071C21.9024 10.3166 21.9024 9.68342 22.2929 9.29289L23.5858 8H14C13.4477 8 13 7.55228 13 7C13 6.44772 13.4477 6 14 6H23.5858L22.2929 4.70711Z' fill='black'/%3E %3Cpath d='M9.70711 7.29289C10.0976 7.68342 10.0976 8.31658 9.70711 8.70711L8.41421 10H18C18.5523 10 19 10.4477 19 11C19 11.5523 18.5523 12 18 12H8.41421L9.70711 13.2929C10.0976 13.6834 10.0976 14.3166 9.70711 14.7071C9.31658 15.0976 8.68342 15.0976 8.29289 14.7071L5.29289 11.7071C4.90237 11.3166 4.90237 10.6834 5.29289 10.2929L8.29289 7.29289C8.68342 6.90237 9.31658 6.90237 9.70711 7.29289Z' fill='black'/%3E %3Cpath d='M21.994 19.1918C21.998 19.1284 22 19.0644 22 19C22 17.3431 20.6569 16 19 16H12.3693C12.0423 16 11.7165 16.0401 11.3992 16.1194L8.11575 16.9403C7.95711 16.9799 7.79421 17 7.63068 17H4C2.89543 17 2 17.8954 2 19V24C2 25.1046 2.89543 26 4 26H8.72949C8.84947 26 8.96921 26.0108 9.08726 26.0323L18.6287 27.7671C19.6486 27.9525 20.7006 27.7348 21.5631 27.1598L28.7109 22.3946C29.5163 21.8577 30 20.9538 30 19.9859C30 17.8639 27.7925 16.463 25.8725 17.3666L21.994 19.1918ZM12.3693 18H19C19.5523 18 20 18.4477 20 19C20 19.5523 19.5523 20 19 20H17C16.4477 20 16 20.4477 16 21C16 21.5523 16.4477 22 17 22H19.8294C20.4182 22 20.9998 21.87 21.5326 21.6193L26.7241 19.1762C27.3176 18.8969 28 19.3299 28 19.9859C28 20.2851 27.8505 20.5645 27.6015 20.7305L20.4537 25.4957C20.0224 25.7832 19.4964 25.892 18.9865 25.7993L9.44503 24.0645C9.20894 24.0216 8.96946 24 8.72949 24H4V19H7.63068C7.95773 19 8.28354 18.9599 8.60083 18.8806L11.8842 18.0597C12.0429 18.0201 12.2058 18 12.3693 18Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-moon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M26.4981 21.0056C25.6771 21.1651 24.8303 21.2484 23.966 21.2484C16.6679 21.2484 10.7516 15.3321 10.7516 8.03399C10.7516 7.16971 10.8349 6.32294 10.9944 5.50186C11.0133 5.40432 11.0109 5.2861 10.98 5.16524C10.0618 5.67748 9.19661 6.32457 8.41288 7.10831C3.86238 11.6588 3.86238 19.0366 8.41288 23.5871C12.9634 28.1376 20.3412 28.1376 24.8917 23.5871C25.6754 22.8034 26.3225 21.9382 26.8348 21.02C26.7139 20.9891 26.5957 20.9867 26.4981 21.0056ZM26.1168 19.0423C27.7758 18.7201 29.5861 20.0453 28.8181 21.5507C28.1838 22.7943 27.3464 23.9609 26.3059 25.0013C20.9744 30.3329 12.3302 30.3329 6.99866 25.0013C1.66711 19.6698 1.66711 11.0256 6.99866 5.69409C8.03912 4.65364 9.20573 3.81622 10.4493 3.18186C11.9547 2.41387 13.2799 4.22418 12.9577 5.88322C12.8225 6.5793 12.7516 7.29838 12.7516 8.03399C12.7516 14.2275 17.7725 19.2484 23.966 19.2484C24.7016 19.2484 25.4207 19.1775 26.1168 19.0423Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-paint-brush {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M21.6659 3.69715C23.4539 1.60984 26.6414 1.48719 28.5849 3.43054C30.5174 5.3636 30.4074 8.52954 28.3456 10.3241L15.6581 21.3641C15.9545 22.6655 15.7648 24.0755 14.999 25.328C13.5107 27.7582 10.522 28.9972 7.85931 28.996C6.96126 28.9955 5.87297 28.9955 4.8681 28.995C2.7066 28.9935 1.29258 26.7288 2.23919 24.786L2.37981 24.4999L2.3847 24.4901L2.38958 24.4794L2.39446 24.4696C2.39766 24.4635 2.40323 24.4536 2.40911 24.4423C2.42143 24.4185 2.43981 24.3831 2.46282 24.3387C2.50956 24.2487 2.57718 24.1183 2.66106 23.9579C2.82932 23.6362 3.06382 23.1907 3.32708 22.6981C3.84989 21.7199 4.50073 20.5275 4.9804 19.743C6.12065 17.8783 8.21225 16.8986 10.3075 17.0067C10.3435 16.9345 10.3885 16.8647 10.4433 16.8007L21.6659 3.69715ZM11.913 19.4843C10.0639 18.4741 7.72308 19.0933 6.68743 20.787C6.24156 21.5162 5.6143 22.6609 5.09075 23.6405C4.83099 24.1266 4.59881 24.5668 4.43255 24.8846C4.34967 25.0431 4.28313 25.1722 4.23724 25.2606C4.21446 25.3045 4.19643 25.3391 4.1845 25.3622C4.17869 25.3734 4.17382 25.3828 4.17083 25.3886L4.16692 25.3964L4.03704 25.662C3.73751 26.277 4.18536 26.9942 4.86907 26.995C5.87393 26.9955 6.96227 26.9955 7.86028 26.996C10.0155 26.9969 12.2581 25.9754 13.2939 24.2841C14.3069 22.6262 13.7318 20.4781 11.913 19.4843ZM12.457 17.5243C12.5969 17.5872 12.7356 17.6549 12.872 17.7294C13.673 18.167 14.325 18.7628 14.8085 19.453L16.9999 17.5458L14.5488 15.202C14.5295 15.1836 14.5115 15.164 14.4941 15.1444L12.457 17.5243ZM27.1699 4.84461C26.0505 3.72543 24.2154 3.79608 23.1855 4.99793L15.7831 13.6395C15.8352 13.6733 15.8851 13.7123 15.9316 13.7567L18.5146 16.2274L27.0322 8.81629C28.2201 7.78253 28.2833 5.95815 27.1699 4.84461Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-roblox-plus {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M13.8555 2.5606C15.1824 1.81313 16.8176 1.81313 18.1445 2.5606L26.8555 7.46782C28.1824 8.21534 28.9999 9.59781 29 11.0928V20.9073C29 22.4024 28.1824 23.7847 26.8555 24.5323L18.1445 29.4395L17.8926 29.5704C16.6996 30.143 15.3004 30.143 14.1074 29.5704L13.8555 29.4395L11.0176 27.8409C10.3887 27.4864 10 26.8196 10 26.0977V12.001C10.0002 10.8967 10.8957 10.0012 12 10.001L20 10.0001C21.1044 10 21.9998 10.8957 22 12.0001V19.0001C22 20.1046 21.1046 21.0001 20 21.0001H16C15.4477 21.0001 15 20.5523 15 20.0001C15.0002 19.4479 15.4478 19.0001 16 19.0001H20V12.0001L12 12.001V26.0987L14.8369 27.6973C15.5545 28.1016 16.4455 28.1016 17.1631 27.6973L25.874 22.7891C26.5863 22.3877 27 21.6636 27 20.9073V11.0928C26.9999 10.3366 26.5863 9.61234 25.874 9.21099L17.1631 4.30278C16.4456 3.89864 15.5544 3.89864 14.8369 4.30278L6.12598 9.21099C5.41372 9.61234 5.00013 10.3366 5 11.0928V20.9073C5 21.6636 5.4137 22.3877 6.12598 22.7891L6.49023 22.9942C6.80495 23.1714 7 23.5051 7 23.8663C6.99984 24.6314 6.17549 25.1128 5.50879 24.7374L5.14453 24.5323C3.81763 23.7847 3 22.4024 3 20.9073V11.0928C3.00012 9.69126 3.71827 8.38846 4.90137 7.61528L5.14453 7.46782L13.8555 2.5606Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-robux {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M15.0762 7.29574C15.6479 6.96571 16.3521 6.96571 16.9238 7.29574L23.0762 10.8479C23.6479 11.1779 24 11.7878 24 12.4479V19.5521C24 20.2122 23.6479 20.8221 23.0762 21.1521L16.9238 24.7043C16.3521 25.0343 15.6479 25.0343 15.0762 24.7043L8.92376 21.1521C8.35214 20.8221 8 20.2122 8 19.5521V12.4479C8 11.7878 8.35214 11.1779 8.92376 10.8479L15.0762 7.29574ZM11.9998 13V19C11.9998 19.5523 12.4475 20 12.9998 20H18.9998C19.5521 20 19.9998 19.5523 19.9998 19V13C19.9998 12.4477 19.5521 12 18.9998 12H12.9998C12.4475 12 11.9998 12.4477 11.9998 13Z' fill='black'/%3E %3Cpath d='M13.8556 2.56068C15.1825 1.81311 16.8175 1.81311 18.1444 2.56068L26.8556 7.46819C28.1825 8.21577 29 9.59734 29 11.0925V20.9075C29 22.4027 28.1825 23.7842 26.8556 24.5318L18.1444 29.4393C16.8175 30.1869 15.1825 30.1869 13.8556 29.4393L5.14444 24.5318C3.81746 23.7842 3 22.4027 3 20.9075V11.0925C3 9.59734 3.81746 8.21577 5.14444 7.46819L13.8556 2.56068ZM17.1628 4.30319C16.4452 3.89894 15.5548 3.89894 14.8372 4.30319L6.12611 9.2107C5.41362 9.61209 5 10.336 5 11.0925V20.9075C5 21.664 5.41362 22.3879 6.12611 22.7893L14.8372 27.6968C15.5548 28.1011 16.4452 28.1011 17.1628 27.6968L25.8739 22.7893C26.5864 22.3879 27 21.664 27 20.9075V11.0925C27 10.336 26.5864 9.61209 25.8739 9.2107L17.1628 4.30319Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-tag {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M23.4998 7C24.328 7.00022 24.9998 7.67172 24.9998 8.5C24.9998 9.32829 24.328 9.99978 23.4998 10C22.6713 10 21.9998 9.32843 21.9998 8.5C21.9998 7.67158 22.6714 7 23.4998 7Z' fill='black'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.9998 3C28.1042 3.00017 28.9998 3.89553 28.9998 5V15.5859C28.9997 16.1162 28.7888 16.625 28.4138 17L15.9138 29.5C15.1328 30.2809 13.8668 30.2808 13.0857 29.5L2.49978 18.9141C1.71882 18.133 1.71882 16.867 2.49978 16.0859L14.9998 3.58594C15.3748 3.21101 15.8835 3.00004 16.4138 3H26.9998ZM3.91384 17.5L14.4998 28.0859L26.9998 15.5859V5H16.4138L3.91384 17.5Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-x {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M7.29289 8.70711C6.90237 8.31658 6.90237 7.68342 7.29289 7.29289C7.68342 6.90237 8.31658 6.90237 8.70711 7.29289L16 14.5858L23.2929 7.29289C23.6834 6.90237 24.3166 6.90237 24.7071 7.29289C25.0976 7.68342 25.0976 8.31658 24.7071 8.70711L17.4142 16L24.7071 23.2929C25.0976 23.6834 25.0976 24.3166 24.7071 24.7071C24.3166 25.0976 23.6834 25.0976 23.2929 24.7071L16 17.4142L8.70711 24.7071C8.31658 25.0976 7.68342 25.0976 7.29289 24.7071C6.90237 24.3166 6.90237 23.6834 7.29289 23.2929L14.5858 16L7.29289 8.70711Z' fill='black'/%3E%3C/svg%3E")
}

.\[font-size\:var\(--font-size-350\)\] {
    font-size: var(--font-size-350)
}

.profile-setting-row>.fill.clip-x>.flex.flex-col:not(.fill) {
    min-width: 0;
    max-width: calc(50% - var(--padding-small))
}

.profile-setting-row-value {
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
    padding-left: 6px;
    overflow: hidden
}

.profile-frame-thumb {
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: block
}

.profile-frame-thumb img {
    object-fit: contain;
    width: 100%;
    height: 100%
}

.profile-frame-dialog-body {
    max-height: calc(100vh - 160px)
}

.profile-frame-grid {
    grid-template-columns: repeat(auto-fill, minmax(84px, 1fr));
    gap: 16px 13px;
    min-height: 0;
    margin-left: -3px;
    padding: 3px 4px 3px 3px;
    display: grid;
    overflow-y: auto
}

.profile-frame-item-thumb {
    background-color: transparent !important
}

.placeholder\:text-body-large::-webkit-input-placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-large::-ms-input-placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-large::placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-medium::-webkit-input-placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-medium::-ms-input-placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-medium::placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-small::-webkit-input-placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:text-body-small::-ms-input-placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:text-body-small::placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:content-muted::-webkit-input-placeholder {
    color: var(--color-content-muted)
}

.placeholder\:content-muted::-ms-input-placeholder {
    color: var(--color-content-muted)
}

.placeholder\:content-muted::placeholder {
    color: var(--color-content-muted)
}

.focus-within\:stroke-system-alert:focus-within {
    border-color: var(--color-system-alert)
}

.focus-within\:stroke-system-emphasis:focus-within {
    border-color: var(--color-system-emphasis)
}

.focus-visible\:outline-focus:focus-visible {
    outline: var(--stroke-thicker)solid var(--color-selection-start);
    outline-offset: var(--stroke-thicker)
}

.disabled\:outline-none:disabled {
    outline: var(--stroke-none)solid var(--color-none)
}

.group\/interactable:hover .group-hover\/interactable\:bg-\[var\(--color-state-hover\)\] {
    background-color: var(--color-state-hover)
}

.group\/interactable:active .group-active\/interactable\:bg-\[var\(--color-state-press\)\] {
    background-color: var(--color-state-press)
}

.group\/interactable:disabled .group-disabled\/interactable\:bg-none {
    background-color: var(--color-none)
}

.\[\&_\.fui-sheet-close-affordance-container\]\:hidden .fui-sheet-close-affordance-container {
    display: none
}