.security-container {
    margin: 6px auto
}

@media(max-width:991px) {
    .security-container {
        width: 100%;
        padding: 0 12px
    }
}

@media(max-width:767px) {
    .security-container {
        padding: 0;
        margin: 0
    }
}

.security-container h1 {
    padding: 5px 15px 15px;
    text-align: center
}

.security-password-container {
    width: 400px
}

@media(max-width:991px) {
    .security-password-container {
        width: 100%
    }
}

.form-warning {
    padding: 12px
}

.form-warning:after,
.form-warning:before {
    content: " ";
    display: table
}

.form-warning:after {
    clear: both
}

.form-warning .icon-warning-orange {
    background-position: 0 -168px;
    background-size: 56px auto;
    float: left;
    width: 28px;
    height: 28px;
    margin: 6px 0
}

.form-warning .form-warning-text {
    width: 90%;
    width: calc(100% - 28px);
    float: left;
    padding: 0 0 0 12px;
    line-height: 1.3em
}

@media(max-width:543px) {
    .form-warning .form-warning-text {
        width: 88%;
        width: calc(100% - 28px)
    }
}

.form-forgot-password-username:after,
.form-forgot-password-username:before {
    content: " ";
    display: table
}

.form-forgot-password-username:after {
    clear: both
}

.form-forgot-password-username .forgot-password,
.form-forgot-password-username .forgot-username {
    padding: 24px 0 0
}

.form-forgot-password-username .forgot-password:after,
.form-forgot-password-username .forgot-password:before,
.form-forgot-password-username .forgot-username:after,
.form-forgot-password-username .forgot-username:before {
    content: " ";
    display: table
}

.form-forgot-password-username .forgot-password:after,
.form-forgot-password-username .forgot-username:after {
    clear: both
}

.form-forgot-password-username .forgot-password h5,
.form-forgot-password-username .forgot-username h5 {
    padding-top: 0
}

.form-forgot-password-username .forgot-username {
    border-top: 1px solid #e6e7ea
}

.form-forgot-password-username .image-security {
    width: 90px;
    height: 90px;
    float: left
}

@media(max-width:767px) {
    .form-forgot-password-username .image-security {
        display: none
    }
}

.form-forgot-password-username .forgot-credentials-container,
.form-forgot-password-username .forgot-credentials-web-app {
    width: 78%;
    width: calc(100% - 90px);
    float: left;
    padding: 0 0 0 24px
}

@media(max-width:991px) {

    .form-forgot-password-username .forgot-credentials-container,
    .form-forgot-password-username .forgot-credentials-web-app {
        width: 88%;
        width: calc(100% - 90px)
    }
}

@media(max-width:767px) {

    .form-forgot-password-username .forgot-credentials-container,
    .form-forgot-password-username .forgot-credentials-web-app {
        width: 100%;
        padding: 0
    }
}

.form-forgot-password-username .forgot-credentials-container .form-horizontal,
.form-forgot-password-username .forgot-credentials-web-app .form-horizontal {
    margin: 12px 0 0
}

.form-forgot-password-username .forgot-credentials-container .form-horizontal .form-group,
.form-forgot-password-username .forgot-credentials-web-app .form-horizontal .form-group {
    width: 68%;
    width: calc(100% - 102px)
}

@media(max-width:991px) {

    .form-forgot-password-username .forgot-credentials-container .form-horizontal .form-group,
    .form-forgot-password-username .forgot-credentials-web-app .form-horizontal .form-group {
        width: 80%;
        width: calc(100% - 102px)
    }
}

@media(max-width:543px) {

    .form-forgot-password-username .forgot-credentials-container .form-horizontal .form-group,
    .form-forgot-password-username .forgot-credentials-web-app .form-horizontal .form-group {
        width: 100%
    }
}

.form-forgot-password-username .forgot-credentials-container .input-group .phone-input-row,
.form-forgot-password-username .forgot-credentials-web-app .input-group .phone-input-row {
    display: flex
}

.form-forgot-password-username .forgot-credentials-container .input-group .phone-prefix,
.form-forgot-password-username .forgot-credentials-web-app .input-group .phone-prefix {
    padding-top: 9px;
    width: auto;
    flex: 0 0 auto
}

@media(max-width:767px) {

    .form-forgot-password-username .forgot-credentials-container .input-group .phone-prefix,
    .form-forgot-password-username .forgot-credentials-web-app .input-group .phone-prefix {
        padding-top: 3px
    }
}

.form-forgot-password-username .forgot-credentials-container .input-group .phone-input,
.form-forgot-password-username .forgot-credentials-web-app .input-group .phone-input {
    flex: 1 1 auto
}

.forgot-credentials-with-email-phone .form-forgot-password-username {
    margin-top: 12px
}

.forgot-credentials-with-email-phone .form-forgot-password-username .forgot-credentials-container,
.forgot-credentials-with-email-phone .form-forgot-password-username .forgot-credentials-web-app {
    padding: 0;
    width: 100%
}

.forgot-credentials-with-email-phone .form-forgot-password-username .forgot-credentials-container .form-horizontal .form-group,
.forgot-credentials-with-email-phone .form-forgot-password-username .forgot-credentials-web-app .form-horizontal .form-group {
    width: 100%
}

.forgot-credentials-with-email-phone .form-forgot-password-username .forgot-credentials-container .form-horizontal button,
.forgot-credentials-with-email-phone .form-forgot-password-username .forgot-credentials-web-app .form-horizontal button {
    margin: 0
}

.forgot-credentials-with-email-phone .rbx-tab {
    width: 50%
}

.forgot-credentials-with-email-phone .credentials-image {
    height: 142px;
    background-position: 50%;
    background-size: auto 142px;
    background-repeat: no-repeat;
    margin: 0 0 24px
}

.forgot-credentials-with-email-phone .password-image {
    background-image: url(https://images.rbxcdn.com/6c7044335d43831eaf92e9862f42656b-security-key.png)
}

.forgot-credentials-with-email-phone .username-image {
    background-image: url(https://images.rbxcdn.com/52516555a95a6090eeb663fdadf446c2-security-account.png)
}

.forgot-credentials-with-email-phone .form-warning {
    margin-bottom: 12px;
    border: 1px solid #f57630;
    padding: 12px
}

.forgot-credentials-with-email-phone .error-message {
    min-height: 18px;
    margin-top: 2px
}

.forgot-credentials-with-email-phone .bottom-form-group {
    margin-bottom: 0
}

.forgot-credentials-with-email-phone .footer-link {
    display: block;
    margin: 12px 0 0;
    text-align: center;
    white-space: normal
}

@media(max-width:767px) {
    .forgot-credentials-with-email-phone .phone-prefix-list .rbx-select {
        height: 32px
    }
}

.verify-code-body .shield-img {
    background-repeat: no-repeat;
    background-size: 240px 140px;
    background-position-x: 50%;
    height: 140px;
    margin-bottom: 6px
}

.verify-code-body .sms-img {
    background-image: url(https://images.rbxcdn.com/0b0fe1c40d6401baf0d6850e714ab859-shield-authenticator.png)
}

.verify-code-body .email-img {
    background-image: url(https://images.rbxcdn.com/d57e529d96e8ec75fe0aca50c21b2226-shield-email.png)
}

.verify-code-body .verification-code-input {
    margin-top: 12px;
    margin-bottom: 0;
    width: 100%
}

.verify-code-body .code-error {
    margin-top: 2px;
    height: 16px
}

.resend-code {
    margin-top: 12px;
    cursor: pointer;
    display: inline-block
}

.security-notification-container {
    width: 970px
}

@media(max-width:991px) {
    .security-notification-container {
        width: 100%
    }

    .security-notification-container .container-double:nth-child(2n) .section-content {
        margin-right: 0
    }

    .security-notification-container .container-double:nth-child(odd) .section-content {
        margin-left: 0
    }
}

.security-notification-container h1 {
    text-align: center
}

.security-notification-container .security-notification-text .text-warning {
    margin-top: 24px
}

.security-notification-container .section-content {
    height: auto
}

@media(max-width:991px) {
    .security-notification-container .section-content {
        height: auto
    }
}

.security-notification-container .forgot-credentials-with-email-phone .credentials-image {
    height: 84px;
    background-size: auto 84px
}

.security-notification-container .security-container {
    margin: 0;
    padding: 0;
    width: 100%
}

.security-notification-container .security-password-container {
    width: 100%
}