.inset-\[0\] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.size-\[var\(--icon-size-large\)\] {
    width: var(--icon-size-large);
    height: var(--icon-size-large)
}

.size-\[var\(--icon-size-medium\)\] {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium)
}

.size-\[var\(--icon-size-small\)\] {
    width: var(--icon-size-small);
    height: var(--icon-size-small)
}

.size-\[var\(--icon-size-xlarge\)\] {
    width: var(--icon-size-xlarge);
    height: var(--icon-size-xlarge)
}

.size-\[var\(--icon-size-xsmall\)\] {
    width: var(--icon-size-xsmall);
    height: var(--icon-size-xsmall)
}

.size-\[var\(--icon-size-xxlarge\)\] {
    width: var(--icon-size-xxlarge);
    height: var(--icon-size-xxlarge)
}

.padding-left-\[var\(--size-150\)\] {
    padding-left: var(--size-150)
}

.padding-right-\[var\(--size-150\)\] {
    padding-right: var(--size-150)
}

.padding-right-\[var\(--size-250\)\] {
    padding-right: var(--size-250)
}

.opacity-\[0\.5\] {
    opacity: .5
}

.friend-recommendations-section {
    margin: 0 auto
}

.friend-recommendations-section .container-header {
    margin: 0 0 12px
}

.friend-recommendations-section .friend-recommendations-content {
    overflow-x: hidden
}

.friend-recommendations-section .friend-recommendations-content .scroller.next {
    right: 0
}

.friend-recommendations-section .friend-recommendations-content .scroller:not(.next) {
    left: 0
}

.friend-recommendations-section .friend-recommendations-content .scroller {
    width: 30px;
    height: 100%;
    padding: 0
}

.friend-recommendations-section .friend-recommendations-content .scroller .arrow {
    height: auto;
    left: 50%;
    transform: translate(-75%)
}

.friend-recommendations-section .friend-recommendations-content .animate-scroll {
    transition: left 1s
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container {
    white-space: nowrap;
    display: inline;
    position: relative
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item {
    float: none;
    white-space: normal;
    display: inline-block
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item {
    background-color: #fff
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item.light-theme {
    background-color: var(--color-surface-300);
    color: var(--color-content-emphasis)
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item.light-theme.remove-panel {
    background-color: transparent
}

.light-theme .friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item {
    background-color: var(--color-surface-300);
    color: var(--color-content-emphasis)
}

.light-theme .friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item.remove-panel {
    background-color: transparent
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item.dark-theme {
    background-color: var(--color-surface-300);
    color: var(--color-content-emphasis)
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item.dark-theme.remove-panel {
    background-color: transparent
}

.dark-theme .friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item {
    background-color: var(--color-surface-300);
    color: var(--color-content-emphasis)
}

.dark-theme .friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item.remove-panel {
    background-color: transparent
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item {
    float: left;
    width: 138px;
    height: 222px;
    margin: 0 12px 0 0;
    padding: 12px
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item .friend-recommendation-link .avatar-headshot {
    float: left;
    width: 90px;
    height: 90px;
    margin: 0 12px
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item .friend-recommendation-link .friend-recommendation-info {
    float: left;
    text-align: center;
    width: 114px;
    height: 54px;
    margin: 9px 0;
    line-height: 1em
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item .friend-recommendation-link .friend-recommendation-info .friend-recommendation-name {
    float: left;
    width: 100%;
    margin-bottom: 2px
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item .friend-recommendation-link .friend-recommendation-info .mutual-friends-tooltip-label {
    width: 114px;
    margin: 0;
    padding: 0
}

.friend-recommendations-section .friend-recommendations-content .friend-recommendations-container .friend-recommendations-list-item .friend-recommendation-item .add-friend-button {
    width: 114px;
    height: 36px;
    padding: 0
}

.friend-recommendations-section .friend-recommendations-content-with-scrollers {
    padding: 0 30px
}

@media (max-width:991px) {
    .friend-recommendations-section .friend-recommendations-content-with-scrollers {
        margin-left: 15px;
        margin-right: 15px
    }
}

.verified-badge-icon,
.verified-badge-text-container {
    display: none
}

.badgeSizeCaptionheader,
.badgeSizeSubheader,
.badgeSizeHeader,
.badgeSizeFooter,
.badgeSizeTitle {
    position: relative;
    overflow: hidden
}

.badgeSizeTitle {
    width: 28px;
    height: 28px
}

.badgeSizeFooter {
    width: 12px;
    height: 12px
}

.badgeSizeHeader,
.badgeSizeSubheader,
.badgeSizeCaptionheader {
    width: 16px;
    height: 16px
}

.hz-centered-badge-container {
    -ms-flex-pack: center;
    justify-content: center;
    margin: 5px 0;
    display: -ms-flexbox;
    display: flex
}

.verified-badge-friends-img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    display: inline-block
}

@media (max-width:543px) {
    .verified-badge-friends-img {
        width: 12px;
        height: 12px;
        margin-left: 2px
    }
}

.content {
    max-width: 970px
}

.content .friends-filter {
    float: right;
    margin: 0 0 0 6px;
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media (max-width:767px) {
    .content .friends-filter {
        float: none;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding-right: 12px
    }
}

.content .friends-filter .dropdown {
    width: 165px;
    display: inline-block
}

@media (max-width:767px) {
    .content .friends-filter .dropdown {
        width: auto;
        margin: 4px 0 0
    }
}

.content .friends-filter .dropdown button {
    height: 36px;
    font-weight: 300
}

.light-theme .content .friends-filter .dropdown button {
    border-color: rgba(0, 0, 0, .3)
}

.light-theme .content .friends-filter .dropdown button:focus-within {
    border-color: var(--color-content-default)
}

.dark-theme .content .friends-filter .dropdown button {
    border-color: rgba(255, 255, 255, .3)
}

.dark-theme .content .friends-filter .dropdown button:focus-within {
    border-color: var(--color-content-default)
}

.content .friends-filter .dropdown .rbx-selection-label {
    text-overflow: ellipsis;
    max-width: 90%;
    max-width: calc(100% - 20px);
    overflow: hidden
}

.content .friends-filter .search-bar {
    width: 220px;
    display: inline-block
}

.content .friends-filter .friends-filter-searchbar-container {
    border-radius: 8px;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    height: 36px;
    margin: 0 2px 2px 0;
    padding: 5px 6px;
    display: -ms-inline-flexbox;
    display: inline-flex
}

@media (max-width:767px) {
    .content .friends-filter .friends-filter-searchbar-container {
        width: auto;
        margin: 0 0 2px
    }
}

.light-theme .content .friends-filter .friends-filter-searchbar-container {
    border-color: rgba(0, 0, 0, .3)
}

.light-theme .content .friends-filter .friends-filter-searchbar-container:focus-within {
    border-color: var(--color-content-default)
}

.dark-theme .content .friends-filter .friends-filter-searchbar-container {
    border-color: rgba(255, 255, 255, .3)
}

.dark-theme .content .friends-filter .friends-filter-searchbar-container:focus-within {
    border-color: var(--color-content-default)
}

.content .friends-filter .friends-filter-searchbar-container .icon-search {
    background-position: 0 -20px;
    background-size: 40px;
    width: 20px;
    height: 20px;
    margin: 0 2px
}

.content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input {
    background: 0 0;
    border: none;
    width: 100%;
    height: 22px;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px
}

.light-theme .content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input::-webkit-input-placeholder {
    color: var(--color-content-emphasis)
}

.light-theme .content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input::placeholder {
    color: var(--color-content-emphasis)
}

.light-theme .content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input::placeholder {
    color: var(--color-content-emphasis)
}

.dark-theme .content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input::-webkit-input-placeholder {
    color: var(--color-content-emphasis)
}

.dark-theme .content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input::placeholder {
    color: var(--color-content-emphasis)
}

.dark-theme .content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input::placeholder {
    color: var(--color-content-emphasis)
}

.content .friends-filter .friends-filter-searchbar-container .friends-filter-searchbar-input:focus {
    outline: none
}

.content .container-header {
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.content .friends-subtitle {
    margin: 4px 0 0 6px;
    padding-bottom: 12px;
    display: inline-block
}

.content .chip-filters-container {
    gap: 8px;
    margin: 4px 0 12px 6px;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.content .education-text-container {
    margin: 0 0 6px 6px
}

.content .education-text-container .learn-more-link {
    text-decoration: underline
}

.content .tooltip-container .icon-moreinfo {
    background-position: 0 -200px;
    background-size: 40px;
    width: 20px;
    height: 20px;
    padding: 0;
    position: relative
}

.content .ignore-button {
    position: absolute;
    top: 4px;
    right: 0
}

@media (max-width:543px) {
    .content .ignore-button {
        width: 100%;
        margin: 0 0 6px
    }
}

.content .find-friends-button {
    float: right;
    margin: 6px 0 0
}

@media (max-width:543px) {
    .content .find-friends-button {
        margin: 0 0 6px
    }
}

.content .hide-template {
    opacity: 0;
    transition: all
}

.content .horizontal-tabs {
    margin-bottom: 12px
}

.content .nav-tabs {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 12px
}

.content .rbx-tab {
    min-width: 25%
}

.content .rbx-tab.subtract-item {
    min-width: 33.3333%
}

.content .rbx-tab.signed-out {
    min-width: 50%
}

.content .empty-content-message {
    color: #494d5a;
    text-align: center;
    margin: 48px 24px 24px
}

.content .mutual-friends-extra-padding-without-pagination {
    padding-top: 60px
}

.content .mutual-friends-extra-padding-with-pagination {
    padding-top: 24px
}

.friends-content .accept-friend,
.friends-content .ignore-friend {
    width: calc(50% - 12px);
    margin: 0 6px
}

.friends-content .avatar-cards-empty {
    text-align: center;
    margin-top: 4px
}

.friends-content .avatar-card .avatar-card-footer .text-link {
    display: inline
}

.friends-content .avatar-card-label {
    font-feature-settings: "ss03";
    font-variant-numeric: slashed-zero
}

.friends-content .avatar-card-container.disabled {
    opacity: .4;
    pointer-events: none
}

.friends-content .avatar-card-container.disabled .avatar-card-menu {
    pointer-events: auto
}

.friends-content .mutual-friends-tooltip-label {
    padding: 0
}

#mutual-friends-tooltip .tooltip-inner {
    text-align: left
}

@media (max-width:767px) {
    .modal:before {
        height: 20%
    }
}

.light-theme .avatar-card-btns .accept-friend {
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis);
    color: var(--color-surface-0);
    border-radius: 8px
}

.light-theme .avatar-card-btns .accept-friend:link {
    color: var(--color-surface-0)
}

.light-theme .avatar-card-btns .accept-friend:hover,
.light-theme .avatar-card-btns .accept-friend:focus {
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis);
    color: var(--color-surface-0)
}

.light-theme .avatar-card-btns .accept-friend:active,
.light-theme .avatar-card-btns .accept-friend.active {
    background-color: var(--color-content-emphasis);
    color: var(--color-surface-0)
}

.light-theme .avatar-card-btns .accept-friend:visited {
    color: var(--color-surface-0)
}

.light-theme .avatar-card-btns .accept-friend.disabled,
.light-theme .avatar-card-btns .accept-friend.disabled:hover,
.light-theme .avatar-card-btns .accept-friend.disabled:focus,
.light-theme .avatar-card-btns .accept-friend.disabled:active,
.light-theme .avatar-card-btns .accept-friend.disabled.active,
.light-theme .avatar-card-btns .accept-friend[disabled],
.light-theme .avatar-card-btns .accept-friend[disabled]:hover,
.light-theme .avatar-card-btns .accept-friend[disabled]:focus,
.light-theme .avatar-card-btns .accept-friend[disabled]:active,
.light-theme .avatar-card-btns .accept-friend[disabled].active {
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis);
    color: var(--color-surface-0);
    opacity: .5
}

.dark-theme .avatar-card-btns .accept-friend {
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis);
    color: var(--color-surface-0);
    border-radius: 8px
}

.dark-theme .avatar-card-btns .accept-friend:link {
    color: var(--color-surface-0)
}

.dark-theme .avatar-card-btns .accept-friend:hover,
.dark-theme .avatar-card-btns .accept-friend:focus {
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis);
    color: var(--color-surface-0)
}

.dark-theme .avatar-card-btns .accept-friend:active,
.dark-theme .avatar-card-btns .accept-friend.active {
    background-color: var(--color-content-emphasis);
    color: var(--color-surface-0)
}

.dark-theme .avatar-card-btns .accept-friend:visited {
    color: var(--color-surface-0)
}

.dark-theme .avatar-card-btns .accept-friend.disabled,
.dark-theme .avatar-card-btns .accept-friend.disabled:hover,
.dark-theme .avatar-card-btns .accept-friend.disabled:focus,
.dark-theme .avatar-card-btns .accept-friend.disabled:active,
.dark-theme .avatar-card-btns .accept-friend.disabled.active,
.dark-theme .avatar-card-btns .accept-friend[disabled],
.dark-theme .avatar-card-btns .accept-friend[disabled]:hover,
.dark-theme .avatar-card-btns .accept-friend[disabled]:focus,
.dark-theme .avatar-card-btns .accept-friend[disabled]:active,
.dark-theme .avatar-card-btns .accept-friend[disabled].active {
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis);
    color: var(--color-surface-0);
    opacity: .5
}

.light-theme .touch .avatar-card-btns .accept-friend:hover,
.light-theme .touch .avatar-card-btns .accept-friend:focus,
.light-theme .touch .avatar-card-btns .accept-friend:visited,
.light-theme .touch .avatar-card-btns .accept-friend:active,
.light-theme .touch .avatar-card-btns .accept-friend.active,
.dark-theme .touch .avatar-card-btns .accept-friend:hover,
.dark-theme .touch .avatar-card-btns .accept-friend:focus,
.dark-theme .touch .avatar-card-btns .accept-friend:visited,
.dark-theme .touch .avatar-card-btns .accept-friend:active,
.dark-theme .touch .avatar-card-btns .accept-friend.active {
    color: var(--color-surface-0);
    background-color: var(--color-content-emphasis);
    border-color: var(--color-content-emphasis)
}

.focus-visible\:outline-focus:focus-visible {
    outline: var(--stroke-thicker)solid var(--color-selection-start);
    outline-offset: var(--stroke-thicker)
}

.disabled\:outline-none:disabled {
    outline: var(--stroke-none)solid var(--color-none)
}

.group\/interactable:hover .group-hover\/interactable\:bg-\[var\(--color-state-hover\)\] {
    background-color: var(--color-state-hover)
}

.group\/interactable:active .group-active\/interactable\:bg-\[var\(--color-state-press\)\] {
    background-color: var(--color-state-press)
}

.group\/interactable:disabled .group-disabled\/interactable\:bg-none {
    background-color: var(--color-none)
}