.light-theme .home-page-upsell-card-banner-container {
    border: 1px solid rgba(0, 0, 0, .3)
}

.dark-theme .home-page-upsell-card-banner-container {
    border: 1px solid hsla(0, 0%, 100%, .3)
}

.home-page-upsell-card-banner-container {
    display: flex;
    flex-direction: row;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between
}

.home-page-upsell-card-banner-container .home-page-upsell-card-image {
    margin-right: 24px;
    margin-left: 12px
}

.home-page-upsell-card-banner-container .upsell-card-lock-icon-image {
    min-height: 58px;
    min-width: 58px;
    background-position: 100%;
    background-size: 58px 58px;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE3IDE5LjV2LTlBNS41IDUuNSAwIDAxMjIuNSA1djBhNS41IDUuNSAwIDAxNS41IDUuNXY5IiBzdHJva2U9IiM5ODk4OTgiIHN0cm9rZS13aWR0aD0iMyIvPjxwYXRoIGQ9Ik0zNSAyNC41djBhNC41IDQuNSAwIDAwLTQuNS00LjVIMTZhNiA2IDAgMDAtNiA2djE0LjVNMzUgMzkuNVY0MWEzIDMgMCAwMS0zIDNIMTNhMyAzIDAgMDEtMy0zdi0uNSIgc3Ryb2tlPSIjOTg5ODk4IiBzdHJva2Utd2lkdGg9IjMiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTIwLjUgMjYuNWE0IDQgMCAwMC00IDR2M2E0IDQgMCAwMDQgNGgxN2E0IDQgMCAwMDQtNHYtM2E0IDQgMCAwMC00LTRoLTE3em0tMiA0YTIgMiAwIDAxMi0yaDE3YTIgMiAwIDAxMiAydjNhMiAyIDAgMDEtMiAyaC0xN2EyIDIgMCAwMS0yLTJ2LTN6bTYgMS41YTEuNSAxLjUgMCAxMS0zIDAgMS41IDEuNSAwIDAxMyAwem00LjUgMS41YTEuNSAxLjUgMCAxMDAtMyAxLjUgMS41IDAgMDAwIDN6bTYgMGExLjUgMS41IDAgMTAwLTMgMS41IDEuNSAwIDAwMCAzeiIgZmlsbD0iIzUyQURGNCIvPjwvc3ZnPg==)
}

.home-page-upsell-card-banner-container .icon-voice-mic-unmuted {
    min-height: 48px;
    min-width: 48px;
    background-repeat: no-repeat;
    background-size: 200% auto;
    width: 48px;
    height: 48px;
    background-position: 0 -192px
}

.home-page-upsell-card-banner-container .upsell-card-horizontal-button-list {
    display: inline-flex;
    flex-direction: row-reverse;
    gap: 12px;
    margin-top: 0;
    margin-bottom: 0
}

.home-page-upsell-card-banner-container .upsell-card-vertical-button-list {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0
}

.home-page-upsell-card-banner-container .upsell-card-vertical-button-list .btn-secondary-md {
    margin-top: 12px;
    border: 0
}

.light-theme .home-page-upsell-card-banner-container {
    background-color: #f7f7f8
}

.dark-theme .home-page-upsell-card-banner-container {
    background-color: #272930
}

.home-page-upsell-card-banner-container .banner-contents {
    display: flex;
    flex-direction: row;
    flex-basis: 100%
}

.home-page-upsell-card-banner-container .banner-contents .add-email-btn-container {
    display: flex;
    align-items: center;
    margin-left: auto
}

@media(max-width:991px) {
    .home-page-upsell-card-banner-container .banner-contents {
        display: flex;
        flex-direction: column
    }

    .home-page-upsell-card-banner-container .banner-contents .add-email-btn-container {
        display: flex;
        flex: 1;
        justify-content: space-around;
        padding-top: 10px;
        margin-left: unset
    }

    .home-page-upsell-card-banner-container .banner-contents .add-email-btn-container .btn-primary-md,
    .home-page-upsell-card-banner-container .banner-contents .add-email-btn-container .btn-secondary-md,
    .home-page-upsell-card-banner-container .banner-contents .add-email-btn-container .upsell-card-horizontal-button-list,
    .home-page-upsell-card-banner-container .banner-contents .add-email-btn-container .upsell-card-vertical-button-list {
        flex: auto
    }
}

.home-page-upsell-card-banner-container .banner-content-container {
    display: flex;
    margin-right: auto
}

.home-page-upsell-card-banner-container .icon-and-text {
    display: flex;
    flex-direction: row;
    align-items: center
}

.inset-\[0\] {
    inset: 0
}

.opacity-\[0\.5\] {
    opacity: .5
}

.bg-\[var\(--color-action-standard-foreground\)\] {
    background-color: var(--color-action-standard-foreground)
}

.bg-\[var\(--dark-mode-action-standard-foreground\)\] {
    background-color: var(--dark-mode-action-standard-foreground)
}

.bg-\[var\(--inverse-surface-0\)\] {
    background-color: var(--inverse-surface-0)
}

.bg-\[var\(--light-mode-surface-100\)\] {
    background-color: var(--light-mode-surface-100)
}

.content-\[var\(--dark-mode-content-emphasis\)\] {
    color: var(--dark-mode-content-emphasis)
}

.content-\[var\(--inverse-content-emphasis\)\] {
    color: var(--inverse-content-emphasis)
}

.content-\[var\(--light-mode-content-emphasis\)\] {
    color: var(--light-mode-content-emphasis)
}

.max-width-\[calc\(var\(--size-100\)\*50\)\] {
    max-width: calc(var(--size-100)*50)
}

.size-\[var\(--icon-size-large\)\] {
    width: var(--icon-size-large);
    height: var(--icon-size-large)
}

.size-\[var\(--icon-size-medium\)\] {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium)
}

.size-\[var\(--icon-size-small\)\] {
    width: var(--icon-size-small);
    height: var(--icon-size-small)
}

.size-\[var\(--icon-size-xlarge\)\] {
    width: var(--icon-size-xlarge);
    height: var(--icon-size-xlarge)
}

.size-\[var\(--icon-size-xsmall\)\] {
    width: var(--icon-size-xsmall);
    height: var(--icon-size-xsmall)
}

.width-\[fit-content\] {
    width: -moz-fit-content;
    width: fit-content
}

.padding-left-\[var\(--size-150\)\] {
    padding-left: var(--size-150)
}

.padding-right-\[var\(--size-150\)\] {
    padding-right: var(--size-150)
}

.padding-right-\[var\(--size-250\)\] {
    padding-right: var(--size-250)
}

.\!visible {
    visibility: visible !important
}

.icon-filled-check {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M24.06 9.94a1.5 1.5 0 00-2.12 0L13 18.878l-2.94-2.94a1.5 1.5 0 00-2.12 2.122l4 4a1.5 1.5 0 002.12 0l10-10a1.5 1.5 0 000-2.122z'/%3E%3C/svg%3E")
}

.icon-regular-chevron-large-down {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M15.293 22.707a1 1 0 001.414 0l10-10a1 1 0 00-1.414-1.414L16 20.586l-9.293-9.293a1 1 0 00-1.414 1.414l10 10z'/%3E%3C/svg%3E")
}

.icon-filled-clock {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M16 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2zm0 6a1 1 0 011 1v6.586l2.707 2.707a1 1 0 01-1.414 1.414l-3-3A1 1 0 0115 16V9a1 1 0 011-1z'/%3E%3C/svg%3E")
}

.icon-filled-minus {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M23.5 14.5a1.5 1.5 0 010 3h-15a1.5 1.5 0 010-3h15z'/%3E%3C/svg%3E")
}

.icon-regular-shield-check {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M21.707 11.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-3-3a1 1 0 011.414-1.414L14 17.586l6.293-6.293a1 1 0 011.414 0z'/%3E%3Cpath d='M15.229 29.67C4.434 24.924 4.017 19.179 4 7.445a2.002 2.002 0 011.367-1.9l10-3.334a2 2 0 011.264 0l10 3.333A2.002 2.002 0 0128 7.444c-.016 11.735-.434 17.48-11.227 22.226a1.932 1.932 0 01-1.544 0zm-7.81-9.26c1.188 2.852 3.488 5.17 8.582 7.414 5.093-2.244 7.393-4.562 8.58-7.415 1.274-3.06 1.41-7.001 1.419-12.967L16 4.108 6 7.442c.009 5.965.146 9.908 1.42 12.967z'/%3E%3C/svg%3E")
}

.icon-regular-speech-bubble-align-center {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M10 12a1 1 0 011-1h10a1 1 0 110 2H11a1 1 0 01-1-1zM13 15a1 1 0 100 2h5a1 1 0 100-2h-5z'/%3E%3Cpath d='M21.604 23.841a96.687 96.687 0 006.72-.604A1.929 1.929 0 0030 21.306V6a2 2 0 00-2-2H4a2 2 0 00-2 2v15.306c0 .977.706 1.808 1.676 1.931a96.69 96.69 0 006.72.605l4.845 4.843c.419.42 1.1.42 1.518 0l4.845-4.843zm-.875-1.954L16 26.617l-4.73-4.73-.762-.042A94.883 94.883 0 014 21.262V6h24v15.262a94.882 94.882 0 01-6.508.583l-.763.042z'/%3E%3C/svg%3E")
}

.icon-regular-x {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M7.293 8.707a1 1 0 011.414-1.414L16 14.586l7.293-7.293a1 1 0 111.414 1.414L17.414 16l7.293 7.293a1 1 0 01-1.414 1.414L16 17.414l-7.293 7.293a1 1 0 01-1.414-1.414L14.586 16 7.293 8.707z'/%3E%3C/svg%3E")
}

.icon-filled-x {
    --svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32'%3E%3Cpath d='M24.56 9.56a1.5 1.5 0 00-2.12-2.12L16 13.878l-6.44-6.44a1.5 1.5 0 10-2.12 2.122L13.878 16l-6.44 6.44a1.5 1.5 0 002.122 2.12L16 18.122l6.44 6.44a1.5 1.5 0 002.12-2.122L18.122 16l6.44-6.44z'/%3E%3C/svg%3E")
}

.placeholder\:content-muted::-moz-placeholder {
    color: var(--color-content-muted)
}

.placeholder\:content-muted::placeholder {
    color: var(--color-content-muted)
}

.placeholder\:text-body-large::-moz-placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-large::placeholder {
    font: var(--typography-body-large-font);
    letter-spacing: var(--typography-body-large-letter-spacing)
}

.placeholder\:text-body-medium::-moz-placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-medium::placeholder {
    font: var(--typography-body-medium-font);
    letter-spacing: var(--typography-body-medium-letter-spacing)
}

.placeholder\:text-body-small::-moz-placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.placeholder\:text-body-small::placeholder {
    font: var(--typography-body-small-font);
    letter-spacing: var(--typography-body-small-letter-spacing)
}

.focus-visible\:outline-focus:focus-visible {
    outline: var(--stroke-thicker) solid var(--color-selection-start);
    outline-offset: var(--stroke-thicker)
}

.disabled\:outline-none:disabled,
.focus-visible\:hover\:outline-none:hover:focus-visible {
    outline: var(--stroke-none) solid var(--color-none)
}

.group\/interactable:hover .group-hover\/interactable\:bg-\[var\(--color-state-hover\)\] {
    background-color: var(--color-state-hover)
}

.group\/interactable:active .group-active\/interactable\:bg-\[var\(--color-state-press\)\] {
    background-color: var(--color-state-press)
}

.group\/interactable:disabled .group-disabled\/interactable\:bg-none {
    background-color: var(--color-none)
}

.data-\[state\=checked\]\:bg-action-sub-emphasis[data-state=checked] {
    background-color: var(--color-action-sub-emphasis-background)
}

@media (prefers-reduced-motion:no-preference) {
    .motion-safe\:transition-\[flex-grow\] {
        transition-property: flex-grow
    }
}