.voting-panel {
    width: 54%;
    position: relative
}

.voting-panel span {
    float: none;
    font-size: 12px;
    line-height: 20px
}

.voting-panel .loading {
    z-index: 1;
    display: none;
    position: absolute
}

.voting-panel .users-vote {
    height: 30px;
    padding: 0 28px;
    display: block;
    position: relative
}

.voting-panel .users-vote .upvote,
.voting-panel .users-vote .downvote {
    position: absolute;
    top: -3px;
    right: 0
}

.voting-panel .users-vote .upvote span:hover,
.voting-panel .users-vote .downvote span:hover {
    cursor: pointer
}

.voting-panel .users-vote .upvote {
    left: 0
}

.voting-panel .users-vote .upvote span {
    color: #02b757
}

.voting-panel .users-vote .downvote {
    right: 0
}

.voting-panel .users-vote .downvote span {
    color: #e2231a
}

.voting-panel .users-vote .vote-details {
    width: 100%;
    display: block
}

.voting-panel .users-vote .vote-details .vote-container {
    width: 100%;
    height: 6px;
    margin: 6px 0 0;
    display: block;
    position: relative
}

@media (max-width:543px) {
    .voting-panel .users-vote .vote-details .vote-container {
        width: 100%;
        height: 4px
    }
}

.voting-panel .users-vote .vote-details .vote-container .vote-background,
.voting-panel .users-vote .vote-details .vote-container .vote-percentage {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.voting-panel .users-vote .vote-details .vote-container .vote-background {
    background-color: #b8b8b8;
    width: 100%
}

.voting-panel .users-vote .vote-details .vote-container .vote-background.has-votes {
    background-color: #e27676
}

.voting-panel .users-vote .vote-details .vote-container .vote-percentage {
    background-color: #02b757
}

.voting-panel .users-vote .vote-details .vote-container .vote-mask .seg-1 {
    left: 18%
}

.voting-panel .users-vote .vote-details .vote-container .vote-mask .seg-2 {
    left: 38%
}

.voting-panel .users-vote .vote-details .vote-container .vote-mask .seg-3 {
    left: 58%
}

.voting-panel .users-vote .vote-details .vote-container .vote-mask .seg-4 {
    left: 78%
}

.voting-panel .users-vote .vote-details .vote-container .vote-mask .segment {
    background-color: #fff;
    width: 2px;
    height: 6px;
    position: absolute;
    top: 0
}

.voting-panel .users-vote .vote-details .vote-numbers {
    display: block
}

.voting-panel .users-vote .vote-details .vote-numbers:before,
.voting-panel .users-vote .vote-details .vote-numbers:after {
    content: " ";
    display: table
}

.voting-panel .users-vote .vote-details .vote-numbers:after {
    clear: both
}

.voting-panel .users-vote .vote-details .vote-numbers .count-left {
    float: left;
    color: #02b757
}

.voting-panel .users-vote .vote-details .vote-numbers .count-right {
    float: right;
    text-align: right;
    color: #e2231a
}

.touch .icon-like:not(.selected) {
    background-position: 0 -84px
}

.touch .icon-dislike:not(.selected) {
    background-position: 0 -112px
}

.favorite-button-container .text-favorite {
    color: #f6b702;
    font-size: 16px;
    font-weight: 400
}

.favorite-button-container .tooltip-inner {
    min-width: 0
}

.touch .icon-favorite:not(.favorited) {
    background-position: 0 -84px
}

@media (max-width:991px) {
    .comments-container .container-header {
        padding: 0 15px
    }
}

.comments-container .comments-item-template,
.comments-container .loader-template {
    display: none
}

.comments-container .form-horizontal button {
    width: auto
}

.comments-container .rbx-comment-msgs {
    height: 1em;
    position: relative
}

.comments-container .rbx-comment-error {
    width: 100%;
    display: inline-block
}

.comments-container .rbx-comment-count {
    position: absolute;
    right: 0
}

.comments-container .rbx-comment-input {
    resize: none;
    height: 38px;
    line-height: 1.5em
}

@media (max-width:767px) {
    .comments-container .rbx-comment-input {
        height: 32px;
        padding: 3px 12px
    }
}

.comments-container .comment-item {
    margin-bottom: 0;
    position: relative
}

.comments-container .comment-item .comment-content {
    overflow: hidden
}

.comments-container .comment-item .avatar img {
    border: 0;
    border-radius: 50%;
    width: 100%;
    height: auto
}

.comments-container .comment-item .avatar .bc-overlay {
    display: none
}

.comments-container .comment-controls {
    position: absolute;
    top: 10px;
    right: 10px
}

.comments-container .vlist .list-item .list-body {
    width: 80%;
    width: calc(100% - 124px)
}

.comments-container .form-horizontal button {
    margin-bottom: 12px
}

.comments-container .comment-form .form-group {
    width: 84%;
    width: calc(100% - 145px)
}

.comments-container .comment-form .form-horizontal {
    -ms-flex-align: start;
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex
}

.comments-container .loading {
    background: #fff url(https://images.rbxcdn.com/5b162443d27ff099.gif) 50%/100% no-repeat;
    width: 50px;
    height: 27px;
    margin: 0 auto
}

.ajax-comments-more-button-container .rbx-comments-see-more {
    width: 100%
}

@media (max-width:543px) {
    .comments-container {
        padding: 0
    }

    .comments-container .comment-form .form-horizontal {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .comments-container .comment-form .form-horizontal button,
    .comments-container .comment-form .form-horizontal .form-group {
        width: 100%
    }
}

.social-media-share #rbx-share-btn {
    cursor: pointer;
    margin: auto;
    display: block
}

.social-media-share .share-container-inner {
    padding: 10px
}

.social-media-share .share-container-inner .catchy-title {
    text-align: left;
    cursor: pointer;
    width: 198px;
    margin: 0;
    font-weight: 500
}

.social-media-share .share-container-inner .catchy-title span {
    vertical-align: middle
}

.social-media-share .share-container-inner .copy-to-clipboard {
    cursor: text
}

.social-media-share .share-container-inner .catchy-title-tooltip-hover {
    opacity: .9;
    background-color: #fff;
    width: 205px;
    height: 125px;
    margin-top: -4px;
    display: none;
    position: absolute;
    top: 41px;
    left: 8px
}

.social-media-share .share-container-inner #gigya-target table {
    margin: 0 7px
}

.social-media-share .share-container-inner #gigya-target .social-button-template .social-button-icon-img {
    cursor: pointer;
    width: 48px;
    height: 48px;
    margin: 2px
}

.social-media-share .share-container-inner #gigya-target .social-button-template .social-button-counter {
    text-align: center;
    border: 1px solid #b8b8b8;
    width: 44px;
    margin: 5px 0 5px 5px;
    display: none
}

.inline-social .gig-button-container {
    margin-bottom: 0;
    padding: 0
}

.inline-social .gig-bar-container {
    position: relative
}

.inline-social .social-media-share #rbx-share-btn {
    display: none
}

.inline-social .social-media-share .share-container-inner {
    padding: 0
}

.inline-social .social-media-share .share-container-inner #gigya-target .social-button-template .social-button-icon-img {
    width: 24px;
    height: 24px;
    margin: 0 0 0 3px
}

.inline-social .social-media-share .share-container-inner #gigya-target table {
    margin: 0
}

.on-phone .inline-social #gigya-target {
    display: table-cell
}

.content,
.alert-system-feedback .alert {
    max-width: 1154px
}

.no-header-nav .alert-system-feedback .alert,
.content-no-ads .alert-system-feedback .alert,
.gutter-ads .alert-system-feedback .alert {
    max-width: 970px
}

.page-content {
    float: left;
    width: 100%;
    max-width: 970px
}

@media (max-width:1174px) {
    .page-content {
        float: none;
        margin: 0 auto;
        padding: 0 12px
    }
}

@media (max-width:991px) {
    .page-content {
        padding: 0
    }
}

.container-main.no-header-nav .page-content,
.container-main.content-no-ads .page-content {
    float: none;
    margin: 0 auto;
    padding: 0 12px
}

@media (max-width:991px) {

    .container-main.no-header-nav .page-content,
    .container-main.content-no-ads .page-content {
        padding: 0
    }
}

@media (max-width:767px) {
    .top-section {
        padding-bottom: 0
    }
}

.item-thumbnail-container {
    float: left
}

@media (max-width:767px) {
    .item-thumbnail-container {
        float: none
    }

    .item-thumbnail-container .thumbnail-holder {
        margin: 0 auto
    }
}

.item-details {
    float: right;
    width: 488px;
    width: calc(100% - 420px);
    padding-left: 12px
}

@media (max-width:970px) {
    .item-details {
        width: 398px;
        width: calc(100% - 300px)
    }
}

@media (max-width:767px) {
    .item-details {
        float: left;
        width: 100%;
        margin: 12px 0;
        padding-left: 0
    }
}

.item-name-container {
    float: right;
    overflow-wrap: break-word;
    width: calc(100% - 467px);
    margin-bottom: 12px;
    margin-right: 35px;
    padding-bottom: 12px
}

@media (max-width:970px) {
    .item-name-container {
        width: 385px;
        width: calc(100% - 347px)
    }
}

@media (max-width:767px) {
    .item-name-container {
        float: none;
        border: none;
        width: calc(100% - 35px);
        margin: 0
    }
}

.item-name-container .icon-premium-medium {
    float: left;
    margin-top: 12px;
    margin-right: 4px;
    display: inline
}

@media (max-width:767px) {
    .item-name-container .icon-premium-medium {
        background-position: 0 0;
        background-size: 100%;
        width: 18px;
        height: 18px
    }
}

.item-name-container h1 {
    text-overflow: ellipsis;
    overflow: hidden
}

.item-name-container .label-checkmark {
    vertical-align: text-bottom;
    color: #fff;
    background-color: #02b757;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 6px;
    padding: 3px;
    font-size: 10px;
    font-weight: 400;
    line-height: 1em;
    display: inline-block
}

.item-name-container .label-checkmark.attribution-checkmark {
    margin-top: 6px;
    margin-left: 0
}

.item-name-container .label-checkmark .icon-checkmark-white-bold {
    background-position: 0 -516px;
    background-size: 24px;
    width: 12px;
    height: 12px
}

.item-name-container .label-checkmark .label-text {
    vertical-align: middle
}

@media (max-width:767px) {
    .item-name-container .label-checkmark {
        margin-left: 3px
    }
}

.item-name-container .divider {
    display: none
}

@media (max-width:767px) {
    .item-name-container .divider {
        border-left: 1px solid #e3e3e3;
        margin-left: 3px;
        display: inline-block
    }
}

.item-details .description-content {
    white-space: pre-line
}

.item-details .item-mobile-description {
    display: none
}

@media (max-width:767px) {
    .item-details .toggle-target {
        display: none
    }

    .item-details .item-mobile-description {
        float: left;
        width: 100%;
        display: block
    }

    .item-social-container li {
        width: 100%
    }

    .item-social-container.include-voting.include-favorite li,
    .item-social-container.include-social.include-favorite li {
        width: 50%
    }

    .item-social-container.include-voting.include-favorite .favorite-button-container,
    .item-social-container.include-social.include-favorite .favorite-button-container {
        border-right: 1px solid #e3e3e3
    }

    .item-social-container.include-voting.include-social .social-media-share {
        height: 52px;
        padding: 12px 0
    }

    .item-social-container.include-voting.include-social .voting-panel {
        border-right: 1px solid #e3e3e3;
        height: 52px
    }

    .item-social-container.include-voting.include-social:not(.include-favorite) li {
        width: 50%
    }

    .item-social-container.include-voting.include-favorite .favorite-button-container {
        height: 52px;
        padding: 10px 0
    }

    .item-social-container.include-voting.include-social.include-favorite .voting-panel {
        width: 160px
    }

    .item-social-container.include-voting.include-social.include-favorite .favorite-button-container,
    .item-social-container.include-voting.include-social.include-favorite .social-media-share {
        width: 80px;
        width: calc(50% - 80px)
    }

    .item-social-container #rbx-share-btn {
        margin-top: -3px
    }

    .need-padding .modal-dialog {
        padding: 12px
    }

    .price-info {
        display: table-header-group
    }
}

@media (max-width:370px) {

    .item-social-container.include-voting.include-social.include-favorite .favorite-button-container,
    .item-social-container.include-voting.include-social.include-favorite .voting-panel {
        width: 50%
    }

    .item-social-container.include-voting.include-social.include-favorite .social-media-share {
        display: none
    }
}

.inline-social .toggle-target {
    margin-bottom: 30px
}

.inline-social .social-media-share {
    height: 39px
}

.inline-social .gig-bar-container table {
    position: inherit;
    top: inherit;
    right: inherit;
    float: right
}

.item-social-container {
    width: 420px
}

@media (max-width:970px) {
    .item-social-container {
        width: 300px
    }
}

@media (max-width:767px) {
    .item-social-container {
        width: auto;
        margin-top: 12px;
        margin-left: -12px;
        margin-right: -12px
    }
}

.menu-shown h1 {
    margin-right: 40px
}

.menu-shown .item-details-name-row h1 {
    margin-right: 0
}

@media (max-width:767px) {
    .item-type-field-container {
        margin: 12px 0
    }
}

.item-field-container {
    margin-top: 12px
}

@media (max-width:767px) {
    .item-field-container {
        margin: 12px 0
    }
}

.field-label {
    float: left;
    width: 120px;
    padding-right: 9px;
    display: block
}

@media (max-width:767px) {
    .field-label:not(.empty-label) {
        width: 45%;
        padding-right: 0
    }

    .field-label.empty-label {
        display: none
    }
}

.field-content {
    float: left;
    width: 350px;
    width: calc(100% - 120px);
    display: block;
    position: relative
}

@media (max-width:970px) {
    .field-content {
        width: 250px;
        width: calc(100% - 120px)
    }
}

@media (max-width:767px) {
    .field-content:not(.empty-label) {
        width: 55%
    }

    .field-content.empty-label {
        width: 100%
    }
}

.field-content.toggle-content {
    float: right
}

.has-price-label {
    margin-top: 7px;
    padding-left: 120px
}

.item-first-line {
    padding-bottom: 12px
}

@media (max-width:767px) {
    .item-first-line {
        -ms-flex-order: 2;
        order: 2;
        padding-top: 12px;
        padding-bottom: 0
    }
}

.item-note {
    float: left;
    width: 290px;
    width: calc(100% - 190px)
}

@media (max-width:767px) {
    .item-note {
        text-align: center;
        float: none;
        width: auto;
        margin-top: 6px;
        padding: 0
    }
}

.toggle-target .content-height {
    height: 96px
}

@media (max-width:767px) {
    .toggle-target .content-height {
        height: auto
    }
}

.library-item .toggle-target .content-height {
    height: 144px
}

.item-details.content-height {
    height: auto
}

@media (max-width:767px) {
    .item-details.content-height {
        height: 236px
    }
}

.item-details.content-overflow-toggle:after {
    content: ""
}

@media (max-width:767px) {
    .price-label {
        display: none
    }
}

.price-container {
    margin-bottom: 12px
}

.price-container .price-container-text {
    float: left;
    width: 290px;
    width: calc(100% - 190px)
}

.price-container .price-container-text .premium-prompt:hover {
    text-decoration: underline
}

.price-container .price-container-text .discount-savings-original-price {
    white-space: nowrap
}

.price-container .action-button {
    float: right;
    max-width: 190px
}

@media (max-width:767px) {
    .price-container .action-button {
        max-width: 100%
    }

    .price-container .action-button button,
    .price-container .action-button a {
        width: 100%
    }

    .price-container {
        float: none;
        width: 100%;
        margin-bottom: 0
    }

    .price-container .price-container-text {
        float: none;
        -ms-flex-flow: column;
        flex-flow: column;
        width: 100%;
        display: -ms-flexbox;
        display: flex
    }

    .price-container .action-button {
        float: none;
        width: 100%;
        margin-top: 12px
    }
}

.sale-clock {
    text-align: left
}

.desktop-sale-clock {
    text-align: center;
    width: 180px;
    margin-top: 12px;
    position: absolute;
    right: 15px
}

@media (max-width:767px) {
    .desktop-sale-clock {
        display: none
    }
}

.phone-sale-clock {
    display: none
}

.phone-sale-clock .text {
    display: inline-block
}

@media (max-width:767px) {
    .phone-sale-clock {
        display: block
    }
}

.marketplace-disabled .price-container .price-container-text {
    width: 100%
}

.favorite-button-container {
    float: left;
    cursor: default;
    margin-top: 6px
}

.favorite-button-container a {
    display: inline-block
}

.favorite-button-container span {
    float: right
}

@media (max-width:767px) {
    .favorite-button-container {
        text-align: center;
        border-top: 1px solid #e3e3e3;
        margin: 0;
        padding: 5px 0
    }

    .favorite-button-container li {
        margin: 0 auto
    }
}

.item-social-container .voting-panel {
    float: right;
    margin-top: 4px
}

@media (max-width:767px) {
    .item-social-container .voting-panel {
        float: left;
        border-top: 1px solid #e3e3e3;
        width: 160px;
        margin: 0;
        padding-top: 12px
    }

    .item-social-container .voting-panel .loading {
        margin-top: -12px
    }

    .item-social-container .voting-panel .vote-summary {
        width: 140px;
        margin: 0 auto;
        position: relative
    }
}

.social-media-share {
    position: absolute;
    bottom: 0;
    right: 12px
}

@media (max-width:767px) {
    .social-media-share {
        float: left;
        text-align: center;
        border-top: 1px solid #e3e3e3;
        width: 50%;
        padding: 5px 0;
        position: relative;
        top: 0;
        right: 0
    }

    .social-media-share .social-share-container {
        width: 80px;
        margin-top: 3px;
        display: inline-block
    }
}

.item-context-menu {
    position: absolute;
    top: 12px;
    right: 12px
}

@media (max-width:767px) {
    .item-context-menu {
        top: 12px
    }
}

.attribute-container {
    display: inline-block
}

.attribute-icon {
    background-size: 40px;
    width: 20px;
    height: 20px
}

.icon-Melee {
    background-position: 0 -260px
}

.icon-Ranged {
    background-position: 0 -280px
}

.icon-PowerUp {
    background-position: 0 -300px
}

.icon-Explosive {
    background-position: 0 -320px
}

.icon-Musical {
    background-position: 0 -340px
}

.icon-Navigation {
    background-position: 0 -360px
}

.icon-Building {
    background-position: 0 -380px
}

.icon-Social {
    background-position: 0 -400px
}

.icon-Transport {
    background-position: 0 -420px
}

.icon-robux-price-container .icon-robux {
    float: inline-start;
    margin-right: 3px
}

.icon-robux-price-container .text-robux-lg {
    float: inline-start;
    line-height: 1.16em
}

.item-details-info-content .icon-robux-price-container .icon-robux-16x16 {
    float: inline-start;
    margin-top: 1px;
    margin-right: 3px
}

.purchase-modal {
    display: none
}

.purchase-modal .PurchaseModalMessageText {
    width: auto;
    margin: 0 auto;
    padding-top: 0;
    display: block
}

.purchase-modal .add-to-game-dialog {
    margin-top: -60px
}

.promoteBtn {
    margin-right: 6px
}

.add-to-game-instructions {
    float: left;
    width: 800px;
    width: calc(100% - 121px);
    line-height: 2em
}

@media (max-width:767px) {
    .add-to-game-instructions {
        float: none;
        text-align: center;
        width: 100%;
        line-height: 1em
    }
}

.promote-modal-btn {
    float: right
}

@media (max-width:767px) {
    .promote-modal-btn {
        float: none;
        width: 100%;
        margin: 12px 0
    }
}

.promote-gear .product-promo-place,
.promote-gear .product-promo-group {
    padding-right: 40px
}

.sell-modal .icon-robux-16x16 {
    margin-left: 6px;
    margin-right: 3px
}

.sell-modal .price-form .form-control-label {
    visibility: hidden
}

.modal-image {
    width: 150px;
    margin: 0 auto;
    display: block
}

.confirmation-text,
.text-robux {
    display: inline-block
}

.commission-label .icon-robux-16x16,
.after-commission-label .icon-robux-16x16 {
    margin-left: 4px
}

.spinner {
    margin: 0 auto;
    display: block
}

.comments-container {
    margin-top: 18px
}

.comment-name {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex
}

.comment-badge {
    width: 16px;
    height: 16px;
    margin-left: 4px
}

@media (max-width:767px) {
    .comment-badge {
        width: 12px;
        height: 12px;
        margin-left: 2px
    }
}

.animation-thumbnail-container .asset-restriction-icon {
    margin-bottom: 90px;
    margin-left: 12px
}

@media (max-width:991px) {
    .animation-thumbnail-container .asset-restriction-icon {
        margin-bottom: 36px
    }
}

.item-name-container .verified-badge-icon-item-details {
    width: 16px;
    height: 16px;
    margin-top: -2px
}

.verified-badge-icon-item-details-author-container {
    display: inline-block !important
}

@media (max-width:767px) {
    .item-name-container .verified-badge-icon-item-details {
        width: 12px;
        height: 12px;
        margin-top: -1px;
        margin-left: -1px
    }
}

.item-details-thumbnail-favorites-container {
    float: left;
    position: relative
}

#favorites-button {
    clear: left;
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 12px
}

#item-report-button-frontend {
    float: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    -ms-flex-align: center;
    align-items: center;
    width: fit-content;
    height: 28px;
    margin-top: 18px;
    margin-left: 12px;
    display: -ms-flexbox;
    display: flex
}

#item-report-button-frontend .item-report-button-action {
    cursor: pointer;
    color: inherit;
    background: 0 0;
    border: none;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
    margin-top: 4px;
    padding: 0;
    display: -ms-inline-flexbox;
    display: inline-flex
}

#item-report-button-frontend .item-report-button-action .icon {
    margin-top: 3px
}

#item-report-button-frontend .item-report-button-text {
    font-size: 16px;
    line-height: 1
}

@media (max-width:970px) and (min-width:768px) {
    #favorites-button {
        width: 300px;
        top: 312px
    }
}

@media (max-width:767px) {

    #favorites-button,
    #favorites-button .favorite-button-container {
        width: 100%
    }
}