.inset-\[0\] {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.margin-bottom-\[160px\] {
    margin-bottom: 160px
}

.margin-bottom-\[24px\] {
    margin-bottom: 24px
}

.margin-right-\[-16px\] {
    margin-right: -16px
}

.margin-top-\[240px\] {
    margin-top: 240px
}

.margin-top-\[48px\] {
    margin-top: 48px
}

.gap-\[var\(--size-150\)\] {
    gap: var(--size-150)
}

.gap-x-\[12px\] {
    column-gap: 12px
}

.gap-y-\[12px\] {
    row-gap: 12px
}

.gap-y-\[32px\] {
    row-gap: 32px
}

.gap-y-\[var\(--size-1200\)\] {
    row-gap: var(--size-1200)
}

.\!size-1000 {
    width: var(--size-1000) !important;
    height: var(--size-1000) !important
}

.\!size-1400 {
    width: var(--size-1400) !important;
    height: var(--size-1400) !important
}

.\!size-1800 {
    width: var(--size-1800) !important;
    height: var(--size-1800) !important
}

.\!size-600 {
    width: var(--size-600) !important;
    height: var(--size-600) !important
}

.\!size-900 {
    width: var(--size-900) !important;
    height: var(--size-900) !important
}

.size-\[50px\] {
    width: 50px;
    height: 50px
}

.size-\[60px\] {
    width: 60px;
    height: 60px
}

.size-\[var\(--icon-size-large\)\] {
    width: var(--icon-size-large);
    height: var(--icon-size-large)
}

.size-\[var\(--icon-size-medium\)\] {
    width: var(--icon-size-medium);
    height: var(--icon-size-medium)
}

.size-\[var\(--icon-size-small\)\] {
    width: var(--icon-size-small);
    height: var(--icon-size-small)
}

.size-\[var\(--icon-size-xlarge\)\] {
    width: var(--icon-size-xlarge);
    height: var(--icon-size-xlarge)
}

.size-\[var\(--icon-size-xsmall\)\] {
    width: var(--icon-size-xsmall);
    height: var(--icon-size-xsmall)
}

.size-\[var\(--icon-size-xxlarge\)\] {
    width: var(--icon-size-xxlarge);
    height: var(--icon-size-xxlarge)
}

.height-\[210px\] {
    height: 210px
}

.min-height-\[400px\] {
    min-height: 400px
}

.min-width-\[96px\] {
    min-width: 96px
}

.width-\[fit-content\] {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.padding-bottom-\[env\(safe-area-inset-bottom\\\,0px\)\] {
    padding-bottom: env(safe-area-inset-bottom\,0px)
}

.padding-top-\[16px\] {
    padding-top: 16px
}

.content-\[var\(--dark-mode-content-emphasis\)\] {
    color: var(--dark-mode-content-emphasis)
}

.\!bg-surface-100 {
    background-color: var(--color-surface-100) !important
}

.bg-\[rgb\(from_var\(--color-system-alert\)_r_g_b_\/_0\.2\)\] {
    background-color: rgb(from var(--color-system-alert)r g b/.2)
}

.bg-\[rgb\(from_var\(--color-system-success\)_r_g_b_\/_0\.2\)\] {
    background-color: rgb(from var(--color-system-success)r g b/.2)
}

.bg-\[rgb\(from_var\(--color-system-warning\)_r_g_b_\/_0\.2\)\] {
    background-color: rgb(from var(--color-system-warning)r g b/.2)
}

.opacity-\[0\.5\] {
    opacity: .5
}

.icon-regular-arrow-up-from-landscape-rectangle {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M27 14C27.5523 14 28 14.4477 28 15V27C28 28.1046 27.1046 29 26 29H6C4.89543 29 4 28.1046 4 27V15C4 14.4477 4.44772 14 5 14C5.55228 14 6 14.4477 6 15V27H26V15C26 14.4477 26.4477 14 27 14ZM16 2C16.2652 2 16.5195 2.10543 16.707 2.29297L20.707 6.29297C21.0976 6.68349 21.0976 7.31651 20.707 7.70703C20.3165 8.09756 19.6835 8.09756 19.293 7.70703L17 5.41406V20C17 20.5523 16.5523 21 16 21C15.4477 21 15 20.5523 15 20V5.41406L12.707 7.70703C12.3165 8.09756 11.6835 8.09756 11.293 7.70703C10.9024 7.31651 10.9024 6.68349 11.293 6.29297L15.293 2.29297C15.4805 2.10543 15.7348 2 16 2Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-calendar {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M9 16C9 15.4477 9.44772 15 10 15C10.5523 15 11 15.4477 11 16C11 16.5523 10.5523 17 10 17C9.44772 17 9 16.5523 9 16Z' fill='black'/%3E %3Cpath d='M16 15C15.4477 15 15 15.4477 15 16C15 16.5523 15.4477 17 16 17C16.5523 17 17 16.5523 17 16C17 15.4477 16.5523 15 16 15Z' fill='black'/%3E %3Cpath d='M16 21C15.4477 21 15 21.4477 15 22C15 22.5523 15.4477 23 16 23C16.5523 23 17 22.5523 17 22C17 21.4477 16.5523 21 16 21Z' fill='black'/%3E %3Cpath d='M21 22C21 21.4477 21.4477 21 22 21C22.5523 21 23 21.4477 23 22C23 22.5523 22.5523 23 22 23C21.4477 23 21 22.5523 21 22Z' fill='black'/%3E %3Cpath d='M22 15C21.4477 15 21 15.4477 21 16C21 16.5523 21.4477 17 22 17C22.5523 17 23 16.5523 23 16C23 15.4477 22.5523 15 22 15Z' fill='black'/%3E %3Cpath d='M10 21C9.44772 21 9 21.4477 9 22C9 22.5523 9.44772 23 10 23C10.5523 23 11 22.5523 11 22C11 21.4477 10.5523 21 10 21Z' fill='black'/%3E %3Cpath d='M10 2C10.5523 2 11 2.44772 11 3V5H21V3C21 2.44772 21.4477 2 22 2C22.5523 2 23 2.44772 23 3V5H25C27.2091 5 29 6.79086 29 9V24.8769C29 26.7124 27.7417 28.2788 25.919 28.4948C23.795 28.7465 20.5312 29 16 29C11.4688 29 8.20501 28.7465 6.08097 28.4948C4.25826 28.2788 3 26.7124 3 24.8769V9C3 6.79086 4.79086 5 7 5H9V3C9 2.44772 9.44772 2 10 2ZM5 12V24.8769C5 25.8059 5.60295 26.4242 6.31635 26.5087C8.35835 26.7507 11.5434 27 16 27C20.4566 27 23.6416 26.7507 25.6837 26.5087C26.3971 26.4242 27 25.8059 27 24.8769V12H5ZM27 10V9C27 7.89543 26.1046 7 25 7H7C5.89543 7 5 7.89543 5 9V10H27Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-check {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M24.0607 9.93934C23.4749 9.35355 22.5251 9.35355 21.9393 9.93934L13 18.8787L10.0607 15.9393C9.47487 15.3536 8.52513 15.3536 7.93934 15.9393C7.35355 16.5251 7.35355 17.4749 7.93934 18.0607L11.9393 22.0607C12.5251 22.6464 13.4749 22.6464 14.0607 22.0607L24.0607 12.0607C24.6464 11.4749 24.6464 10.5251 24.0607 9.93934Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-chevron-large-left {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M8.83591 16.9463C8.35579 16.3571 8.3904 15.4885 8.93942 14.9394L18.9394 4.93942L19.0537 4.83591C19.6428 4.35579 20.5115 4.3904 21.0605 4.93942C21.6095 5.48845 21.6441 6.35711 21.164 6.94626L21.0605 7.06052L12.1211 16L21.0605 24.9394C21.6463 25.5252 21.6463 26.4747 21.0605 27.0605C20.4747 27.6463 19.5252 27.6463 18.9394 27.0605L8.93942 17.0605L8.83591 16.9463Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-chevron-small-right {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M20.7071 16.7071C21.0976 16.3166 21.0976 15.6834 20.7071 15.2929L14.7071 9.29289C14.3166 8.90237 13.6834 8.90237 13.2929 9.29289C12.9024 9.68342 12.9024 10.3166 13.2929 10.7071L18.5858 16L13.2929 21.2929C12.9024 21.6834 12.9024 22.3166 13.2929 22.7071C13.6834 23.0976 14.3166 23.0976 14.7071 22.7071L20.7071 16.7071Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-circle-check {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28C22.6274 28 28 22.6274 28 16ZM30 16C30 23.732 23.732 30 16 30C8.26801 30 2 23.732 2 16C2 8.26801 8.26801 2 16 2C23.732 2 30 8.26801 30 16ZM21.7071 12.2929C22.0976 12.6834 22.0976 13.3166 21.7071 13.7071L14.7071 20.7071C14.3166 21.0976 13.6834 21.0976 13.2929 20.7071L10.2929 17.7071C9.90237 17.3166 9.90237 16.6834 10.2929 16.2929C10.6834 15.9024 11.3166 15.9024 11.7071 16.2929L14 18.5858L20.2929 12.2929C20.6834 11.9024 21.3166 11.9024 21.7071 12.2929Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-controller {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M20.9998 15C21.69 15.0002 22.2498 15.5598 22.2498 16.25C22.2498 16.9402 21.69 17.4998 20.9998 17.5C20.3094 17.5 19.7498 16.9404 19.7498 16.25C19.7498 15.5596 20.3094 15 20.9998 15Z' fill='black'/%3E %3Cpath d='M10.4998 11C10.7757 11.0002 10.9998 11.224 10.9998 11.5V13L12.6004 13.0098C12.8282 13.0564 12.9998 13.2584 12.9998 13.5V14.5C12.9998 14.776 12.7757 14.9998 12.4998 15H10.9998V16.5C10.9998 16.776 10.7757 16.9998 10.4998 17H9.49979C9.22365 17 8.99979 16.7761 8.99979 16.5V15H7.49979C7.22365 15 6.99979 14.7761 6.99979 14.5V13.5C6.99979 13.2239 7.22365 13 7.49979 13H8.99979V11.5C8.99979 11.2239 9.22365 11 9.49979 11H10.4998Z' fill='black'/%3E %3Cpath d='M18.4998 12.5C19.19 12.5002 19.7498 13.0598 19.7498 13.75C19.7498 14.4402 19.19 14.9998 18.4998 15C17.8094 15 17.2498 14.4404 17.2498 13.75C17.2498 13.0596 17.8094 12.5 18.4998 12.5Z' fill='black'/%3E %3Cpath d='M23.4998 12.5C24.19 12.5002 24.7498 13.0598 24.7498 13.75C24.7498 14.4402 24.19 14.9998 23.4998 15C22.8094 15 22.2498 14.4404 22.2498 13.75C22.2498 13.0596 22.8094 12.5 23.4998 12.5Z' fill='black'/%3E %3Cpath d='M20.9998 10C21.69 10.0002 22.2498 10.5598 22.2498 11.25C22.2498 11.9402 21.69 12.4998 20.9998 12.5C20.3094 12.5 19.7498 11.9404 19.7498 11.25C19.7498 10.5596 20.3094 10 20.9998 10Z' fill='black'/%3E %3Cpath d='M21.1346 4C24.5137 4.0002 27.4112 6.41447 28.0203 9.73828L30.1492 21.3564C30.3567 22.4888 30.2163 23.6583 29.7459 24.709C27.9291 28.7659 22.3704 29.2682 19.8562 25.6025L17.3953 22.0137H14.6599L12.6385 25.252C10.2454 29.085 4.58473 28.8399 2.53202 24.8145C1.97591 23.7237 1.77906 22.485 1.96854 21.2754L3.74784 9.91602C4.28169 6.51015 7.21639 4.00003 10.6639 4H21.1346ZM10.6639 6C8.20147 6.00003 6.10582 7.79295 5.7244 10.2256L3.94413 21.585C3.8199 22.3781 3.94964 23.19 4.31424 23.9053C5.66041 26.5453 9.37268 26.707 10.9422 24.1934L13.5515 20.0137H18.449L21.5057 24.4707C23.1364 26.8483 26.7423 26.523 27.9207 23.8916C28.2257 23.2102 28.3169 22.4521 28.1824 21.7178L26.0525 10.0986C25.6156 7.71473 23.5214 6.05189 21.1346 6H10.6639Z' fill='black'/%3E%3C/svg%3E")
}

.icon-filled-flag {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M3.74028 2.03439C4.27357 1.89081 4.82229 2.20674 4.96586 2.74003L5.26959 3.86815L9.76813 2.46235C11.9142 1.79171 14.2499 2.15409 16.0918 3.44346C17.4087 4.36525 19.075 4.63354 20.6147 4.17165L25.7122 2.64239C27.3212 2.15968 28.7725 3.75559 28.1395 5.31164L26.1669 10.1609L29.6324 13.8864C30.6441 14.9739 30.1592 16.7458 28.7347 17.1666L22.2907 19.0706C20.0985 19.7183 17.7307 19.3319 15.858 18.0211C14.551 17.1062 12.9115 16.803 11.3637 17.1899L9.01435 17.7773L11.9659 28.74C12.1094 29.2733 11.7935 29.822 11.2602 29.9656C10.7269 30.1092 10.1782 29.7933 10.0346 29.26L3.03463 3.25998C2.89105 2.72668 3.20698 2.17797 3.74028 2.03439Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-hand-two-arrows-horizontal {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M22.2929 4.70711C21.9024 4.31658 21.9024 3.68342 22.2929 3.29289C22.6834 2.90237 23.3166 2.90237 23.7071 3.29289L26.7071 6.29289C27.0976 6.68342 27.0976 7.31658 26.7071 7.70711L23.7071 10.7071C23.3166 11.0976 22.6834 11.0976 22.2929 10.7071C21.9024 10.3166 21.9024 9.68342 22.2929 9.29289L23.5858 8H14C13.4477 8 13 7.55228 13 7C13 6.44772 13.4477 6 14 6H23.5858L22.2929 4.70711Z' fill='black'/%3E %3Cpath d='M9.70711 7.29289C10.0976 7.68342 10.0976 8.31658 9.70711 8.70711L8.41421 10H18C18.5523 10 19 10.4477 19 11C19 11.5523 18.5523 12 18 12H8.41421L9.70711 13.2929C10.0976 13.6834 10.0976 14.3166 9.70711 14.7071C9.31658 15.0976 8.68342 15.0976 8.29289 14.7071L5.29289 11.7071C4.90237 11.3166 4.90237 10.6834 5.29289 10.2929L8.29289 7.29289C8.68342 6.90237 9.31658 6.90237 9.70711 7.29289Z' fill='black'/%3E %3Cpath d='M21.994 19.1918C21.998 19.1284 22 19.0644 22 19C22 17.3431 20.6569 16 19 16H12.3693C12.0423 16 11.7165 16.0401 11.3992 16.1194L8.11575 16.9403C7.95711 16.9799 7.79421 17 7.63068 17H4C2.89543 17 2 17.8954 2 19V24C2 25.1046 2.89543 26 4 26H8.72949C8.84947 26 8.96921 26.0108 9.08726 26.0323L18.6287 27.7671C19.6486 27.9525 20.7006 27.7348 21.5631 27.1598L28.7109 22.3946C29.5163 21.8577 30 20.9538 30 19.9859C30 17.8639 27.7925 16.463 25.8725 17.3666L21.994 19.1918ZM12.3693 18H19C19.5523 18 20 18.4477 20 19C20 19.5523 19.5523 20 19 20H17C16.4477 20 16 20.4477 16 21C16 21.5523 16.4477 22 17 22H19.8294C20.4182 22 20.9998 21.87 21.5326 21.6193L26.7241 19.1762C27.3176 18.8969 28 19.3299 28 19.9859C28 20.2851 27.8505 20.5645 27.6015 20.7305L20.4537 25.4957C20.0224 25.7832 19.4964 25.892 18.9865 25.7993L9.44503 24.0645C9.20894 24.0216 8.96946 24 8.72949 24H4V19H7.63068C7.95773 19 8.28354 18.9599 8.60083 18.8806L11.8842 18.0597C12.0429 18.0201 12.2058 18 12.3693 18Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-moon {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M26.4981 21.0056C25.6771 21.1651 24.8303 21.2484 23.966 21.2484C16.6679 21.2484 10.7516 15.3321 10.7516 8.03399C10.7516 7.16971 10.8349 6.32294 10.9944 5.50186C11.0133 5.40432 11.0109 5.2861 10.98 5.16524C10.0618 5.67748 9.19661 6.32457 8.41288 7.10831C3.86238 11.6588 3.86238 19.0366 8.41288 23.5871C12.9634 28.1376 20.3412 28.1376 24.8917 23.5871C25.6754 22.8034 26.3225 21.9382 26.8348 21.02C26.7139 20.9891 26.5957 20.9867 26.4981 21.0056ZM26.1168 19.0423C27.7758 18.7201 29.5861 20.0453 28.8181 21.5507C28.1838 22.7943 27.3464 23.9609 26.3059 25.0013C20.9744 30.3329 12.3302 30.3329 6.99866 25.0013C1.66711 19.6698 1.66711 11.0256 6.99866 5.69409C8.03912 4.65364 9.20573 3.81622 10.4493 3.18186C11.9547 2.41387 13.2799 4.22418 12.9577 5.88322C12.8225 6.5793 12.7516 7.29838 12.7516 8.03399C12.7516 14.2275 17.7725 19.2484 23.966 19.2484C24.7016 19.2484 25.4207 19.1775 26.1168 19.0423Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-roblox-plus {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M13.8555 2.5606C15.1824 1.81313 16.8176 1.81313 18.1445 2.5606L26.8555 7.46782C28.1824 8.21534 28.9999 9.59781 29 11.0928V20.9073C29 22.4024 28.1824 23.7847 26.8555 24.5323L18.1445 29.4395L17.8926 29.5704C16.6996 30.143 15.3004 30.143 14.1074 29.5704L13.8555 29.4395L11.0176 27.8409C10.3887 27.4864 10 26.8196 10 26.0977V12.001C10.0002 10.8967 10.8957 10.0012 12 10.001L20 10.0001C21.1044 10 21.9998 10.8957 22 12.0001V19.0001C22 20.1046 21.1046 21.0001 20 21.0001H16C15.4477 21.0001 15 20.5523 15 20.0001C15.0002 19.4479 15.4478 19.0001 16 19.0001H20V12.0001L12 12.001V26.0987L14.8369 27.6973C15.5545 28.1016 16.4455 28.1016 17.1631 27.6973L25.874 22.7891C26.5863 22.3877 27 21.6636 27 20.9073V11.0928C26.9999 10.3366 26.5863 9.61234 25.874 9.21099L17.1631 4.30278C16.4456 3.89864 15.5544 3.89864 14.8369 4.30278L6.12598 9.21099C5.41372 9.61234 5.00013 10.3366 5 11.0928V20.9073C5 21.6636 5.4137 22.3877 6.12598 22.7891L6.49023 22.9942C6.80495 23.1714 7 23.5051 7 23.8663C6.99984 24.6314 6.17549 25.1128 5.50879 24.7374L5.14453 24.5323C3.81763 23.7847 3 22.4024 3 20.9073V11.0928C3.00012 9.69126 3.71827 8.38846 4.90137 7.61528L5.14453 7.46782L13.8555 2.5606Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-robux {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M15.0762 7.29574C15.6479 6.96571 16.3521 6.96571 16.9238 7.29574L23.0762 10.8479C23.6479 11.1779 24 11.7878 24 12.4479V19.5521C24 20.2122 23.6479 20.8221 23.0762 21.1521L16.9238 24.7043C16.3521 25.0343 15.6479 25.0343 15.0762 24.7043L8.92376 21.1521C8.35214 20.8221 8 20.2122 8 19.5521V12.4479C8 11.7878 8.35214 11.1779 8.92376 10.8479L15.0762 7.29574ZM11.9998 13V19C11.9998 19.5523 12.4475 20 12.9998 20H18.9998C19.5521 20 19.9998 19.5523 19.9998 19V13C19.9998 12.4477 19.5521 12 18.9998 12H12.9998C12.4475 12 11.9998 12.4477 11.9998 13Z' fill='black'/%3E %3Cpath d='M13.8556 2.56068C15.1825 1.81311 16.8175 1.81311 18.1444 2.56068L26.8556 7.46819C28.1825 8.21577 29 9.59734 29 11.0925V20.9075C29 22.4027 28.1825 23.7842 26.8556 24.5318L18.1444 29.4393C16.8175 30.1869 15.1825 30.1869 13.8556 29.4393L5.14444 24.5318C3.81746 23.7842 3 22.4027 3 20.9075V11.0925C3 9.59734 3.81746 8.21577 5.14444 7.46819L13.8556 2.56068ZM17.1628 4.30319C16.4452 3.89894 15.5548 3.89894 14.8372 4.30319L6.12611 9.2107C5.41362 9.61209 5 10.336 5 11.0925V20.9075C5 21.664 5.41362 22.3879 6.12611 22.7893L14.8372 27.6968C15.5548 28.1011 16.4452 28.1011 17.1628 27.6968L25.8739 22.7893C26.5864 22.3879 27 21.664 27 20.9075V11.0925C27 10.336 26.5864 9.61209 25.8739 9.2107L17.1628 4.30319Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-tag {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M23.4998 7C24.328 7.00022 24.9998 7.67172 24.9998 8.5C24.9998 9.32829 24.328 9.99978 23.4998 10C22.6713 10 21.9998 9.32843 21.9998 8.5C21.9998 7.67158 22.6714 7 23.4998 7Z' fill='black'/%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26.9998 3C28.1042 3.00017 28.9998 3.89553 28.9998 5V15.5859C28.9997 16.1162 28.7888 16.625 28.4138 17L15.9138 29.5C15.1328 30.2809 13.8668 30.2808 13.0857 29.5L2.49978 18.9141C1.71882 18.133 1.71882 16.867 2.49978 16.0859L14.9998 3.58594C15.3748 3.21101 15.8835 3.00004 16.4138 3H26.9998ZM3.91384 17.5L14.4998 28.0859L26.9998 15.5859V5H16.4138L3.91384 17.5Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-tag-arrow-up {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M26.0003 20C26.2696 20.0001 26.528 20.1089 26.7161 20.3018L31.2161 24.917C31.6013 25.3123 31.5934 25.9455 31.1985 26.3311C30.8032 26.7165 30.17 26.7086 29.7844 26.3135L27.0003 23.458V31C27.0003 31.5521 26.5523 31.9998 26.0003 32C25.448 32 25.0003 31.5523 25.0003 31V23.458L22.2161 26.3135C21.8306 26.7087 21.1974 26.7163 20.802 26.3311C20.4068 25.9455 20.399 25.3123 20.7844 24.917L25.2844 20.3018C25.4726 20.109 25.7308 20 26.0003 20Z' fill='black'/%3E %3Cpath d='M27.0003 3C28.1047 3.00017 29.0003 3.89554 29.0003 5V16C29.0003 16.5522 28.5524 16.9998 28.0003 17C27.448 17 27.0003 16.5523 27.0003 16V5H16.4143L3.91433 17.5L14.5003 28.0859L15.7932 26.793C16.1838 26.4026 16.8168 26.4025 17.2073 26.793C17.5976 27.1834 17.5976 27.8166 17.2073 28.207L15.9143 29.5C15.1334 30.2809 13.8672 30.2808 13.0862 29.5L2.50026 18.9141C1.71931 18.133 1.71931 16.867 2.50026 16.0859L15.0003 3.58594C15.3753 3.21101 15.884 3.00004 16.4143 3H27.0003Z' fill='black'/%3E %3Cpath d='M23.5003 7C24.3285 7.00025 25.0003 7.67172 25.0003 8.5C25.0003 9.32828 24.3285 9.99975 23.5003 10C22.6718 10 22.0003 9.32843 22.0003 8.5C22.0003 7.67157 22.6718 7 23.5003 7Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-triangle-exclamation {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M17.5007 21.5C17.5007 22.3284 16.8292 23 16.0007 23C15.1723 23 14.5007 22.3284 14.5007 21.5C14.5007 20.6716 15.1723 20 16.0007 20C16.8292 20 17.5007 20.6716 17.5007 21.5Z' fill='black'/%3E %3Cpath d='M17.0007 12C17.0007 11.4477 16.553 11 16.0007 11C15.4485 11 15.0007 11.4477 15.0007 12V17C15.0007 17.5523 15.4485 18 16.0007 18C16.553 18 17.0007 17.5523 17.0007 17V12Z' fill='black'/%3E %3Cpath d='M14.1547 4.03623C14.9821 2.65459 17.0194 2.65459 17.8468 4.03623L29.7041 23.8362C30.5755 25.2913 29.4481 27 27.8581 27H4.14342C2.55342 27 1.42599 25.2913 2.29738 23.8362L14.1547 4.03623ZM16.0007 5C15.9291 5 15.8904 5.03069 15.8706 5.06377L4.01323 24.8638C4.00049 24.8851 4.00068 24.8954 4.00075 24.8989C4.00087 24.9057 4.00306 24.9192 4.01323 24.9362C4.02343 24.9532 4.03879 24.9689 4.05802 24.98C4.07498 24.9899 4.10123 25 4.14342 25H27.8581C27.9003 25 27.9265 24.9899 27.9435 24.98C27.9627 24.9689 27.9781 24.9532 27.9883 24.9362C27.9984 24.9192 28.0006 24.9059 28.0007 24.899C28.0008 24.8956 28.0012 24.8853 27.9883 24.8638L16.1309 5.06377C16.1111 5.03069 16.0724 5 16.0007 5Z' fill='black'/%3E%3C/svg%3E")
}

.icon-regular-x {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cpath d='M7.29289 8.70711C6.90237 8.31658 6.90237 7.68342 7.29289 7.29289C7.68342 6.90237 8.31658 6.90237 8.70711 7.29289L16 14.5858L23.2929 7.29289C23.6834 6.90237 24.3166 6.90237 24.7071 7.29289C25.0976 7.68342 25.0976 8.31658 24.7071 8.70711L17.4142 16L24.7071 23.2929C25.0976 23.6834 25.0976 24.3166 24.7071 24.7071C24.3166 25.0976 23.6834 25.0976 23.2929 24.7071L16 17.4142L8.70711 24.7071C8.31658 25.0976 7.68342 25.0976 7.29289 24.7071C6.90237 24.3166 6.90237 23.6834 7.29289 23.2929L14.5858 16L7.29289 8.70711Z' fill='black'/%3E%3C/svg%3E")
}

.\[--fui-future-alpha-color-system-progress\:var\(--color-content-emphasis\)\] {
    --fui-future-alpha-color-system-progress: var(--color-content-emphasis)
}

.\[-webkit-box-orient\:vertical\] {
    -webkit-box-orient: vertical
}

.\[-webkit-line-clamp\:3\] {
    -webkit-line-clamp: 3
}

.\[display\:-webkit-box\] {
    display: -webkit-box
}

.\!\[font-size\:var\(--font-size-800\)\] {
    font-size: var(--font-size-800) !important
}

.\[grid-template-columns\:minmax\(0\,1fr\)\] {
    grid-template-columns: minmax(0, 1fr)
}

.\[list-style\:none\] {
    list-style: none
}

.\[overflow\:clip\] {
    overflow: clip
}

.\[transform\:rotate\(-15deg\)\] {
    transform: rotate(-15deg)
}

#content {
    max-width: unset;
    margin: 0;
    padding: 0
}

.backdrop-texture {
    z-index: -1;
    background-image: url(https://images.rbxcdn.com/1bf0125ca67d6eed.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: max(1400px, 120%)
}

.dark-theme .backdrop-texture {
    background-image: url(https://images.rbxcdn.com/e5384ff4b72cebcb.svg)
}

.font-builder-extended {
    font-family: Builder Extended, Builder Sans, sans-serif
}

.light-mode-content-emphasis {
    color: var(--light-mode-content-emphasis)
}

.foundation-web-list-item-container .text-title-large {
    font: var(--typography-title-medium-font);
    letter-spacing: var(--typography-title-medium-letter-spacing)
}

.bottom-dock {
    z-index: 20;
    -ms-flex-pack: start;
    justify-content: flex-start;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

.hover\:bg-surface-100:hover {
    background-color: var(--color-surface-100)
}

.focus\:outline-focus:focus {
    outline: var(--stroke-thicker)solid var(--color-selection-start);
    outline-offset: var(--stroke-thicker)
}

.focus-visible\:outline-focus:focus-visible {
    outline: var(--stroke-thicker)solid var(--color-selection-start);
    outline-offset: var(--stroke-thicker)
}

.disabled\:outline-none:disabled {
    outline: var(--stroke-none)solid var(--color-none)
}

.group\/interactable:hover .group-hover\/interactable\:bg-\[var\(--color-state-hover\)\] {
    background-color: var(--color-state-hover)
}

.group\/interactable:active .group-active\/interactable\:bg-\[var\(--color-state-press\)\] {
    background-color: var(--color-state-press)
}

.group\/interactable:disabled .group-disabled\/interactable\:bg-none {
    background-color: var(--color-none)
}

@media (min-width:1141px) {
    .large\:self-auto {
        -ms-flex-item-align: auto;
        align-self: auto
    }

    .large\:margin-x-auto {
        margin-left: auto;
        margin-right: auto
    }

    .large\:margin-bottom-\[120px\] {
        margin-bottom: 120px
    }

    .large\:margin-bottom-none {
        margin-bottom: var(--margin-none)
    }

    .large\:margin-top-\[12px\] {
        margin-top: 12px
    }

    .large\:margin-top-\[24px\] {
        margin-top: 24px
    }

    .large\:block {
        display: block
    }

    .large\:flex {
        display: -ms-flexbox;
        display: flex
    }

    .large\:inline {
        display: inline
    }

    .large\:\!hidden {
        display: none !important
    }

    .large\:hidden {
        display: none
    }

    .large\:flex-col {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .large\:items-center {
        -ms-flex-align: center;
        align-items: center
    }

    .large\:gap-y-\[24px\] {
        row-gap: 24px
    }

    .large\:gap-y-\[32px\] {
        row-gap: 32px
    }

    .large\:gap-y-\[60px\] {
        row-gap: 60px
    }

    .large\:text-align-x-center {
        text-align: center
    }

    .large\:max-width-\[730px\] {
        max-width: 730px
    }

    .large\:max-width-\[min\(440px\,100\%\)\] {
        max-width: min(440px, 100%)
    }

    .large\:width-\[230px\] {
        width: 230px
    }

    .large\:width-full {
        width: 100%
    }

    .large\:padding-x-none {
        padding-left: var(--padding-none);
        padding-right: var(--padding-none)
    }

    .large\:padding-x-xlarge {
        padding-left: var(--padding-xlarge);
        padding-right: var(--padding-xlarge)
    }

    .large\:\!\[font-size\:var\(--font-size-1000\)\] {
        font-size: var(--font-size-1000) !important
    }

    .large\:\[grid-template-columns\:repeat\(2\,minmax\(0\,1fr\)\)\] {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}