.sponsored-layer {
    padding: 12px
}

.sponsored-layer .thumbnail-2d-container {
    border-radius: 8px
}

@media (max-width:991px) {
    .sponsored-layer .sponsored-item-card {
        float: none;
        width: 16.6667%;
        display: inline-block
    }

    .sponsored-layer .item-card {
        width: 100%
    }
}

@media (max-width:767px) {
    .sponsored-layer .sponsored-item-card {
        width: 20%
    }
}

@media (max-width:543px) {
    .sponsored-layer .sponsored-item-card {
        width: 33.33%
    }
}

@media (min-width:767px) {

    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .sponsored-item-card,
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .item-card {
        width: 100%
    }
}

@media (max-width:767px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 100%
    }
}

@media screen and (min-width:767px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 33.3333%;
        min-width: auto
    }
}

@media screen and (min-width:784px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 25%;
        min-width: auto
    }
}

@media screen and (min-width:1127px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 20%;
        min-width: auto
    }
}

@media screen and (min-width:1283px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 16.6667%;
        min-width: auto
    }
}

@media screen and (min-width:1907px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 10%;
        min-width: auto
    }
}

@media screen and (min-width:2219px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 8.33333%;
        min-width: auto
    }
}

@media screen and (min-width:2687px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 6.66667%;
        min-width: auto
    }
}

@media screen and (min-width:3467px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 5%;
        min-width: auto
    }
}

@media screen and (min-width:5027px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card {
        width: 3.33333%;
        min-width: auto
    }
}

.container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .item-card {
    width: 100%;
    min-width: auto
}

.container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .item-card .item-card-name-link .item-card-name .icon-premium-small {
    float: left;
    margin-right: 4px
}

@media (min-width:991px) {

    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card,
    .container-main .sponsored-catalog-items-container .item-cards-stackable .item-card {
        height: 250px
    }

    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .item-card-container,
    .container-main .sponsored-catalog-items-container .item-cards-stackable .item-card .item-card-container {
        width: 150px;
        margin: 0 auto
    }
}

@media (min-width:767px) {
    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .item-card .item-card-thumb-container {
        width: 150px;
        height: 150px
    }

    .container-main .sponsored-catalog-items-container .item-cards-stackable .sponsored-item-card .item-card .item-card-thumb-container .icon-placeholder-asset {
        background-position: 0 -150px;
        background-size: 100%;
        width: 150px;
        height: 150px
    }
}

.container-main .sponsored-catalog-items-container {
    margin: 6px 0;
    padding-top: 12px
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row-title {
    margin-bottom: 6px;
    padding-left: 5px
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 24px;
    padding: 15px 5px;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row.light-theme,
.light-theme .container-main .sponsored-catalog-items-container .sponsored-catalog-items-row,
.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row.dark-theme,
.dark-theme .container-main .sponsored-catalog-items-container .sponsored-catalog-items-row {
    background-color: var(--color-surface-100);
    border-radius: 8px
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row .item-cards-stackable {
    display: -ms-flexbox;
    display: flex
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row .item-cards-stackable .sponsored-item-card .item-card {
    width: 100%
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row .thumbnail-2d-container {
    border-radius: 8px
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row .sponsored-item-card {
    -ms-flex: none;
    flex: none;
    padding: 0
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row .restriction-icon {
    position: absolute;
    bottom: -2px;
    left: -2px
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-row .asset-status-icon2 {
    z-index: 1;
    float: right;
    margin-top: -3px;
    position: absolute;
    top: 9px;
    right: 6px
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-loading-title {
    width: 187px;
    height: 28px;
    margin-bottom: 12px;
    line-height: 0
}

.light-theme .container-main .sponsored-catalog-items-container .sponsored-catalog-items-loading-title,
.dark-theme .container-main .sponsored-catalog-items-container .sponsored-catalog-items-loading-title {
    background-color: var(--color-common-shimmer)
}

.container-main .sponsored-catalog-items-container .sponsored-catalog-items-loading-row {
    display: -ms-flexbox;
    display: flex
}

.container-main .sponsored-catalog-items-container .item-card-loading {
    -ms-flex-align: start;
    align-items: flex-start
}

.container-main .sponsored-catalog-items-container .item-card-loading .item-card-link {
    width: 100%
}

.container-main .sponsored-catalog-items-container .item-card-loading .item-card-thumb-container:before {
    background: 0 0
}

.container-main .sponsored-catalog-items-container .item-card-loading .item-card-thumb-container {
    margin-bottom: 5px
}

.container-main .sponsored-catalog-items-container .item-card-loading .item-card-name.shimmer {
    width: 100%;
    height: 22px;
    margin: 0 0 5px
}

.light-theme .container-main .sponsored-catalog-items-container .item-card-loading .item-card-name.shimmer,
.dark-theme .container-main .sponsored-catalog-items-container .item-card-loading .item-card-name.shimmer {
    background-color: var(--color-common-shimmer)
}

.container-main .sponsored-catalog-items-container .item-card-loading .item-card-name.shimmer.item-name-title-half {
    width: 70%
}