.margin-y-\[12px\] {
    margin-top: 12px;
    margin-bottom: 12px
}

.margin-top-\[6px\] {
    margin-top: 6px
}

.padding-x-\[6px\] {
    padding-left: 6px;
    padding-right: 6px
}

.padding-y-\[6px\] {
    padding-top: 6px;
    padding-bottom: 6px
}

.padding-bottom-\[8px\] {
    padding-bottom: 8px
}

.\[k\:2��d�\14 �\7f -�\11 �\] {
    k: 2��d��-��
}

html,
body {
    height: 100%;
    overflow: hidden
}

@media (max-width:767px) {

    html,
    body {
        height: auto;
        overflow-y: auto
    }
}

#wrap {
    height: 100%
}

#wrap .content {
    max-width: 100%;
    height: 100%;
    padding: 0
}

#wrap .container-main {
    height: calc(100% - 174px);
    padding-bottom: 0
}

@media (max-width:991px) {
    #wrap .container-main {
        height: calc(100% - 250px)
    }
}

#wrap .container-footer {
    position: relative
}

.supported-browsers-app,
#supported-browsers-web-app,
#supported-browsers {
    height: 100%
}

.supported-browsers-bg {
    background-image: url(https://images.rbxcdn.com/3ebdbb1a1ea5cd4a.jpg);
    background-repeat: no-repeat;
    background-size: cover
}

.supported-browsers-mask,
.browser-icon-container {
    background-color: rgba(10, 10, 14, .75)
}

.browser-list {
    padding: 0;
    list-style: none;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.browser-item {
    padding: 0 5px
}

@media (max-width:991px) {
    .browser-list {
        display: block
    }

    .browser-item {
        padding: 6px;
        display: inline-block
    }

    .browser-item:nth-child(2n) {
        text-align: left
    }

    .browser-item:nth-child(odd) {
        text-align: right
    }
}

.supported-browser-logo {
    background-image: url(https://images.rbxcdn.com/960a34f93a4ff04b.png);
    background-repeat: no-repeat;
    background-size: 180px;
    width: 180px;
    height: 182px
}

.browser-icon {
    background-repeat: no-repeat;
    background-size: 144px;
    width: 144px;
    height: 144px
}

.chrome-icon {
    background-image: url(https://images.rbxcdn.com/0c178dbb4987ba07.png)
}

.firefox-icon {
    background-image: url(https://images.rbxcdn.com/c4b87081b4b6ce48.png)
}

.msedge-icon {
    background-image: url(https://images.rbxcdn.com/c09270bb1923b49d.png)
}

.safari-icon {
    background-image: url(https://images.rbxcdn.com/34eeadee62f08047.png)
}